[2015-01-17 13:48] craigh commented on #2141
at zikula.org it works if you create from the admin menu item and fails if creating using the `+` icon in any row. the trace on the failure is:

[code]

[2015-01-17 13:48] craigh commented on #2141
both methods work locally however.

[2015-01-17 14:54] craigh commented on #2141
works!

[2015-01-17 14:54] #2141 closed

[2015-01-17 14:55] craigh commented on #1878
@cmfcmf should we (or can we) postpone these other items until 2.0.0? if not, is there any way you can complete them before 31 Jan?

[2015-01-17 15:35] craigh commented on #2142
@cmfcmf - to attempt to fix this, I need to be able to do something like:

[code]
proceed with redirect ...

how to do that?

[2015-01-17 15:42] craigh commented on #2013
/groups/admin/membership/1

at zikula.org we have ~4200 users. the `/groups/admin/membership/1` group page displays fine.

I suspect the problem is the user selector (the scrolling list). maybe we could employ an ajax lookup function there instead.

@shefik - haven't heard from you on this in a while, what do you think?

[2015-01-17 17:37] Guite commented on #2171
We could maybe do something like
[code]

I won't add this to the generator though, because this is a special case (generated modules are not called on a core update usually).

[2015-01-17 17:39] cmfcmf commented on #2171
You could still add it to the generator if the module is a system module.

[2015-01-17 17:40] Guite commented on #2150
1 and 2 are not desired imho as they would be a bc break.
3 and 4 sound more comfortable to me.

[2015-01-17 17:40] craigh commented on #2171
his report was with the old upgrader, so unknown if it still applies. but still may be a worthy addition.

[2015-01-17 17:50] Guite commented on #2171
@cmfcmf why does the Routes module has another workflow than _NONE_? Otherwise there wouldn't be a notification api generated and used at all.

[2015-01-17 17:52] cmfcmf commented on #2171
Well, I thought it might be cool if moderators / users could propose routes. I thought "Hey I'm using MOST, why not add a Workflow?".

[2015-01-17 17:52] craigh commented on #2171
:-1: :boat:

[2015-01-17 18:38] cmfcmf commented on #2150
:+1: for 3 or 4.

[2015-01-17 18:40] cmfcmf commented on #2160
@craigh He basically says he's able to install Zikula at other hosts, but on the current one it doesn't work and fails with the error above, regardless of his PHP version.

[2015-01-17 18:41] craigh commented on #2160
If it works most places and doesn't work in one, surely it is a php config problem. no? This can't be a core issue, right?

[2015-01-17 18:43] craigh commented on #2150
#4 is much harder than I thought because the config is like
[code]

so the DymanicConfigDumper can't handle it (more than two levels). Apparently DynamicConfigDumper is more of a DynamicParameterDumper :wink:

[2015-01-17 18:44] cmfcmf commented on #2150
Can't you do
[code]
and then dump the `cookiename` parameter?

[2015-01-17 18:45] craigh commented on #2150
sure, that is option 3 :smile:

[2015-01-17 19:40] cmfcmf commented on #1878
I will have some time the next weekend and see what I can do.

[2015-01-17 19:43] cmfcmf commented on #2142
Like so: https://github.com/zikula/core/blob/1.4/src/system/ZikulaRoutesModule/Controller/RouteController.php#L213-L233. It could also be moved into an API function or something.

[2015-01-17 21:46] #2150 closed

[2015-01-18 02:07] shefik commented on #2013
@craigh AJAX lookup can be useful.

[2015-01-18 07:58] Guite commented on #2142
Probably fixed by #2183

[2015-01-18 07:59] #2142 closed

[2015-01-18 08:01] Guite commented on #2147
Just thinking: another possibility to fix this (without access to go.zikula.org) would be a rewrite rule at zikula.org.

[2015-01-18 08:29] rallek commented on #2147
Or use go.ziku.la

[2015-01-18 08:41] Guite commented on #2147
To explain the suggestion of rallek: ziku.la is owned by me.

[2015-01-18 09:47] Guite commented on #2181
Fixed in #2184

[2015-01-18 09:47] #2181 closed

[2015-01-18 09:51] Guite commented on #2160
Seems like a Symfony problem:

http://forum.symfony-project.org/viewtopic.php?t=88300&p=190317
http://stackoverflow.com/questions/24995000/contexterrorexception-after-generating-a-bundle-in-symfony
http://www.cybertechquestions.com/installing-symfony2-on-synology-nas-51-home-server_1094543.html
https://www.google.com/search?q=ContextErrorException+ExecutableFinder+is_dir()

[2015-01-18 11:04] craigh commented on #1873
everything looks right to me on my iPhone also. reopen if you can provide more info.

[2015-01-18 11:04] #1873 closed

[2015-01-18 11:19] craigh commented on #1682
Honestly, I had no idea what this ticket was about. I've never used this feature.

![screen shot 2015-01-18 at 6 13 29 am](https://cloud.githubusercontent.com/assets/350048/5792171/2b1066e6-9ed9-11e4-9161-ee07c2c011aa.png)
![screen shot 2015-01-18 at 6 12 21 am](https://cloud.githubusercontent.com/assets/350048/5792172/2de0b916-9ed9-11e4-9eee-25a2914272ae.png)

but I don't know how to make this us

[2015-01-18 11:22] craigh commented on #1818
why is this our problem? What do you mean by "Is there some way to make the alerts static?"

[2015-01-18 11:43] craigh opened #2185 "Track Doctrine Bug 1057"
(this bug still exists in Doctrine, but shouldn't be a problem for us) [Doctrine bug 1057](http://www.doctrine-project.org/jira/browse/DBAL-1057) which requires DBAL to ping the DB to get version information. **workaround:** add `server_version` param to `config.yml`

[code]

There is currently a [workaround](https://github.com/craigh/core/commit/bbb4349609e0931929142adb7963ab40b2575213) used in t

[2015-01-18 11:46] craigh opened #2186 "Enable CSRF protection in install/upgrade forms"
CSRF form protection is currently disabled in all CoreInstallerBundle forms (see for example:  https://github.com/zikula/core/blob/1.4/src/lib/Zikula/Bundle/CoreInstallerBundle/Form/Type/CreateAdminType.php#L74)

It needs to be re-enabled when it can be figured out why it doesn't work. I'm guessing some kind of session issue.

refs #2172 #2187

[2015-01-18 11:47] craigh opened #2187 "Post-install/upgrade login doesn't work"
after completing the install or upgrade process, the login doesn't work. I'm guessing this is a sessions issue.

refs #2172 #2186

[2015-01-18 14:12] craigh commented on #2160
I vote we close this as not core

[2015-01-18 14:13] craigh commented on #2181
nice fix! :+1:

[2015-01-18 14:14] craigh commented on #2147
if we are replacing the subdomain anyway, we should probably just use the regular domain. see https://github.com/zikula/zikula.org/issues/23

[2015-01-18 15:08] Guite commented on #2160
It seems to be caused by Assetic (at least assetic appears in the stack trace shown above).

[2015-01-18 15:59] rallek commented on #2144
@craigh - the old installer was also not unpolite ;-)

What I want to see: The index.php should first check it the both directories are writable and give a polite message to make them writable.

I bet more than 50% of people who are trying to install will struggle with this topic already.

[2015-01-18 16:17] Guite commented on #2144
Maybe user-friendly is a more adequate word than polite here.

[2015-01-18 16:17] rallek commented on #2144
yes, you are right. That is what I mean

[2015-01-18 18:41] Portugao opened #2188 "Start to install gives error message"
If i start the install using the button 'Install Zikula' i get this error
[code]
test with ci build 389

[2015-01-19 11:18] drak commented on #2147
I've been using google's link thing for go.zikula.org but it might be better to just use server redirect rules on zikula.org

[2015-01-19 16:35] craigh commented on #2147
what is "google's link thing" ?

[2015-01-19 16:55] cmfcmf commented on #2147
@drak I think it would be easiest to keep using the current system, because it seems to work reliably. It would be great if you could give anyone of us access to it.

[2015-01-19 19:08] rallek opened #2190 "Installation stops at "Begin Installer""
I am testing to install via web. I downloaded the zip from ci, uploaded to my webspace (all-inkl with ssh access) and unziped the file.

After changing the two folder permissions I was NOT able to install. The owner of the files is wrong. In the management console of all-inkl I am able to change the permission to the "PHP-User" recursive to all files and folders. NOW I am able to install.

But the

[2015-01-19 19:26] craigh commented on #2190
try recursively making the entire app/config directory writable

[2015-01-19 19:52] rallek commented on #2190
tja, since the owner is the PHP-User I do not have the permission to change  to 777 :-(

[2015-01-19 21:13] craigh commented on #2190
I'm not sure how these types of issues can be solved by zikula. sometimes the user and their host will have to meet certain requirements in order to install.

can you look and see if a `app/config/custom_parameters.yml` file exists?

[2015-01-19 21:31] craigh opened #2191 "Make sure translation works in Installer Bundle"
Currently unknown whether translation works at all in CoreInstallerBundle. The method `\Zikula\Bundle\CoreInstallerBundle\Util\ControllerUtil::setupLang()` is currently unused and may be required for translation

A functional translation of the strings will be required to see if it works ;-)

[2015-01-19 22:22] #2188 closed

[2015-01-19 23:43] craigh opened #2192 "CI not installing assets of bundles"
CI should be installing all the bundle assets and it apparently is not (I think it used to). For example, the CoreInstallerBundle has several css and js files that should be copied to `/web/bundles/zikulacoreinstaller`

refs #2190

ping @cmfcmf @Guite @rallek

[2015-01-19 23:44] craigh commented on #2190
the reason it is stuck at "Begin Installer" is the javascript is not loaded. see #2192

and I checked your install and the `app/config/custom_parameters.yml` file DOES exist and it is correct for the stage you attained.

[2015-01-20 05:07] cmfcmf commented on #2192
Make also sure the translation of the route works, depends on #2138.

[2015-01-20 05:08] cmfcmf commented on #2191
Make also sure the translation of the route works, depends on #2138.

[2015-01-20 05:25] rallek commented on #2191
Is an actual pot file available? I started the German translation for an older build

[2015-01-20 08:58] Portugao commented on #2188
:+1:
Thx a lot.

[2015-01-20 18:09] cmfcmf commented on #1878
Turns out I won't have time the next weekend :-1: I think this isn't a blocker though, and might even be postponed to something like 1.4.1 (if it'll ever exist) or 2.0.0 otherwise.

[2015-01-20 19:58] rallek commented on #2190
I did a new test. I unzipped at my home computer, uploaded all files via ftp and changed the permissions of app/cahc and app/logs.

Now I start by calling my website in a browser. The installation failed due to wrong ownership of the files. The following is coming:

Failed to copy "/www/htdocs/w012cf87/craigh.k62.org/ftp-upload/app/config/parameters.yml" to "/www/htdocs/w012cf87/craigh.k62.org/ftp

[2015-01-20 20:31] craigh commented on #2190
talk talking with your provider. I'm guessing that you will need to change owner of files, not just write permissions. I don't think this is something that zikula could fix. It seems your provider is a little different than most.

[2015-01-20 20:58] craigh commented on #2192
command in build.cml wools like this:

[code]

but instruction to install in the README.md are `composer update` (not install)

@cmfcmf any ideas here? I'm not really familiar enough with composer nor the CI process..

@drak?

[2015-01-20 20:59] craigh commented on #2192
maybe remove the `--no-scripts` part?

[2015-01-21 01:05] craigh commented on #2192
ok - the `--no-scripts` part is correct I think, because later there is this:

[code]

but the problem is that command is not running `\Zikula\Bundle\CoreBundle\Command\AssetsInstallCommand` but rather is running `\Symfony\Bundle\FrameworkBundle\Command\AssetsInstallCommand` (at least I'm pretty sure). And so, some things aren't getting installed. BUT if I run `php app/console assets:install` from

[2015-01-21 19:57] Portugao commented on #2190
After upload zikula the file app/config/custom_parameters.yml on my server has the permission 0666 so it is clear that the writing fails with this error message.....

[2015-01-21 20:26] craigh commented on #2190
I'm sorry this is not clear at all. Maybe you could explain further? Are you installing? upgrading? If **installing**, there should be no `custom_parameters.yml` file before you being. If it exists, it was created by the installer and the perms should be fine. If you are **upgrading** then YOU created the file and should control the perms.

[2015-01-21 20:27] craigh commented on #2190
if you started an installer and it stopped at this stage, then this bug is not yet fixed and it won't work.

[2015-01-21 21:31] Portugao commented on #2190
Ok. I see.

[2015-01-21 22:10] Portugao opened #2195 "Typo in requirements template"
After make it possible to write 'custom_parameters.yml' (https://github.com/zikula/core/issues/2190) there are some typos in the following typo.

[code]

[2015-01-21 22:11] craigh commented on #2195
what is the typo?

[2015-01-21 22:15] Portugao commented on #2195
Sorry. The path to the folders.

Should be
[code]

[2015-01-21 22:48] cmfcmf commented on #2138
Works now due to @craigh's timezone hack.

[2015-01-21 22:48] #2138 closed

[2015-01-21 22:50] craigh commented on #2192
fixed by forcing timezone set in https://github.com/zikula/core/commit/108df009f35033560c70024f8b3d13f23c1c0e1c

[2015-01-21 22:50] #2192 closed

[2015-01-21 22:50] craigh commented on #2190
this is fixed now. try build 402

http://ci.zikula.org/job/Zikula_Core-1.4.0/

[2015-01-21 22:51] #2190 closed

[2015-01-21 22:53] craigh opened #2196 "set timezone in php.ini at CI server"
In order for the build to complete successfully, the timezone must be properly set at the CI server.

When this is complete, the hack added in https://github.com/zikula/core/commit/108df009f35033560c70024f8b3d13f23c1c0e1c can probably be removed.

[2015-01-22 00:54] craigh commented on #2171
@guite hard to regenerate the module without the workflow? Or can you solve this easily another way?

[2015-01-22 01:23] craigh commented on #2196
drak said he set the timezone:

I need the timezone set for the CI server
php is failing there
[1/21/15, 6:01:59 PM] dordrak: hi
[1/21/15, 8:05:00 PM] dordrak: Done

[2015-01-22 01:25] craigh commented on #2196
but there are many Jenkins errors occurring there now for some reason.

[2015-01-22 10:19] phaidon opened #2197 "mbstring.internal_encoding warning"
The use of mbstring.internal_encoding cause a  warning on my page:

[code]
mac os x - php 5.6.2

[2015-01-22 10:47] craigh commented on #2197
This won't be changed until at least Core 2.0.0

[2015-01-22 11:41] phaidon commented on #2197
Sounds reasonable.

[2015-01-22 15:28] Portugao commented on #2195
Sorry, now I get:

[code]
The install works fine and looks very nice.
I think now it is user-friendly enough.
Great job, @craigh.

[2015-01-22 15:39] craigh commented on #2195
that's because @cmfcmf forgot to check my code :boat:

[2015-01-23 05:00] shefik commented on #2197
mbstring.internal_encoding string

Warning

This feature has been DEPRECATED as of PHP 5.6.0. Relying on this feature is highly discouraged.
Defines the default internal character encoding.

PHP 5.6 and later users should leave this empty and set default_charset instead.

http://php.net/manual/en/mbstring.configuration.php#ini.mbstring.internal-encoding

[2015-01-23 07:01] shefik opened #2198 "upgrade.php is Missing?"
I don't the file "upgrade.php" anymore in the Zikula 1.4.0 build. Is it no longer needed?

[2015-01-23 07:30] shefik opened #2200 "Redirect to /install.php, if Zikula is not already installed"
If Zikula 1.4.0 is not already installed, and you go to "/index.php", it currently redirects to "/install", when it should redirect to "/install.php".

[2015-01-23 07:31] cmfcmf commented on #2200
@shefik this is expected behaviour. The installer has been rewritten.

[2015-01-23 07:31] cmfcmf commented on #2198
No, the Upgrader has been rewritten :smile:

[2015-01-23 07:33] shefik commented on #2200
@cmfcmf Has the new installer been merged yet, because going to "/install" is not working directly. Still need to use install.php for access at the moment.

[2015-01-23 07:34] shefik commented on #2198
Refs. https://github.com/zikula/core/issues/2200

[2015-01-23 07:39] shefik opened #2201 "Undefined class constant 'CRIT'"
New installation of Zikula 1.4.0 throws this error:

PHP Fatal error:  Undefined class constant 'CRIT' in /system/Zikula/Module/ExtensionsModule/Util.php on line 53

[2015-01-23 11:18] #2198 closed

[2015-01-23 11:19] craigh commented on #2200
There is no file called install.php

[2015-01-23 11:19] #2200 closed

[2015-01-23 11:20] craigh commented on #2200
Read the new docs

[2015-01-24 06:45] shefik opened #2203 "Jenkins is Failing at ci.zikula.org"
hudson.util.HudsonFailedToLoad: org.jvnet.hudson.reactor.ReactorException: java.io.IOException: Unable to read /var/lib/jenkins/config.xml

http://ci.zikula.org

[2015-01-25 11:44] rallek opened #2204 "[CoreInstallerBundle] one file install routine"
Feature request for 2.0.0

Owncloud is offering a very simple install solution for shared hosting.
1. You have to download a file (e.g. setup-zikula.php). -> https://download.owncloud.com/download/community/setup-owncloud.php
2. Upload to webserver root
3. call mysite.tld/setup-zikula.php
4. The script is checking all requirements.
   - If something is not fullfilled you will get an answer and ins

[2015-01-25 11:48] rallek opened #2205 "add "force https" setting"
In the setup I want to see the possibility that https is required for this site. If set the site will allways switch to https if called via http

Feature request for 2.0.0

[2015-01-25 11:52] craigh commented on #2205
I believe this is a duplicate of #601 please confirm and close if so.

[2015-01-25 11:55] rallek commented on #2205
yes it is covered. My proposal is all or nothing ;-) #601 is doing more detail but will cover this one. So I can close it.

[2015-01-25 11:55] #2205 closed

[2015-01-25 11:59] craigh commented on #2197
closed by #2199

[2015-01-25 11:59] #2197 closed

[2015-01-25 12:25] craigh commented on #2201
fixed by #2202

[2015-01-25 12:25] #2201 closed

[2015-01-25 12:38] craigh commented on #2203
This is a Jenkins plugin problem. not us.

[2015-01-25 12:38] #2203 closed

[2015-01-25 13:25] craigh commented on #2191
@Guite how do we regenerate the core pot file?

[2015-01-25 13:35] cmfcmf commented on #2203
Thanks @shefik for your report, though!

[2015-01-26 02:05] shefik commented on #2204
@rallek Would this be more efficient to execute as a command-line script via /app/console?

[2015-01-26 05:47] rallek commented on #2204
Of course. Shared hosting normally do not have a command line

[2015-01-26 11:40] craigh commented on #2191
@Guite will you please regenerate the POT file and document how to do it for the rest of us?

[2015-01-26 11:41] #2195 closed

[2015-01-26 11:48] Guite commented on #2191
Yes. Also I will check how much effort is creating a CI job doing the pot generation.

[2015-01-26 17:07] Guite commented on #2191
Pot files are regenerated in f98258fef0e0ded173df41a3435a2d3645d9da03

To do this:

1. Clone https://github.com/zikula-modules/Gettext/ into the modules/ folder
2. Open a console and navigate into `modules/Gettext/Helper`
3. Call `xtractcore.sh path/to/src/`

Going to challenge a CI job for this next.

[2015-01-27 00:02] craigh commented on #2191
maybe the core extract files could be moved right to the core repo in the /Tools dir. unless they also require other elements of the module.

[2015-01-27 00:14] craigh commented on #2191
the strings in the twig templates of the installer are not extracted: https://github.com/zikula-modules/Gettext/issues/8

[2015-01-27 02:09] shefik commented on #2203
But, what happens now? ci.zikula.org is still down.

[2015-01-27 06:49] Guite commented on #2191
It is not easily possible to separate only the core extract files.

[2015-01-27 07:14] rallek commented on #2203
E.g. waiting for the Jenkins fix?

[2015-01-27 17:11] Guite opened #2206 "Categories tree bugs"
Follow-up from #2189: must be reviewed and fine-tuned, there are some minor bugs left.

* the different context menu actions
* drag n drop

[2015-01-28 19:58] Guite commented on #2196
I fixed the Jenkins problem.
You can now check whether this ticket is resolved or not.

[2015-01-28 20:14] cmfcmf commented on #2196
http://ci.zikula.org/

[2015-01-28 20:22] Guite commented on #2196
Occurs sometimes when I am restarting it. There are still some problems to be solved wrt Git.

[2015-01-28 20:46] craigh commented on #2196
@Guite you might be hitting the github access limit with repeated attempts at generating your other build (hence the 'credentials' error in the log). I ran in to that the other day as well.

[2015-01-28 20:47] craigh commented on #2196
closing this. please continue discussion on this issue on slack.

[2015-01-28 20:47] #2196 closed

[2015-01-28 21:42] Guite commented on #2191
The POT creation is now working as a proof of concept:
http://ci.zikula.org/job/Zikula_Core-1.4-POT/

[2015-01-29 07:30] Guite opened #2210 "Extend and improve CI builds"
The CI job needs some functional improvements:

* Unit tests
* Source code metrics
* Coding style and bad coding violations

[2015-01-29 09:07] Guite commented on #2146
Anything more to do here?

[2015-01-29 09:55] cmfcmf commented on #2210
We could use CodeClimate for metrics and violations: https://codeclimate.com/github/zikula/core/

[2015-01-29 19:48] Portugao commented on #2146
No.

[2015-01-29 20:04] #2146 closed

[2015-01-29 21:35] Portugao commented on #2071
@Alexalter
Ich bin etwas verwirrt, weil der Thread im deutschen Forum, den Du oben angegeben hast von 2012 ist.
Ausserdem kann ich das Problem mit 1.3.9 nicht nachstellen.
Mehr Infos sind hier notwendig.

[2015-01-29 21:39] craigh commented on #2191
@Guite - I've spent some time trying to figure out how to make the twig files work in our Gettext extractor and can't figure it out. it is WAY above my head. can you take a look?

[2015-01-30 05:05] Guite commented on #2191
No I am no regex guru.

[2015-01-30 10:58] trichers opened #2211 "Problem Filter and Date"
If I use a filter with a date, it works, but this message is showed:
WARN (4): E_WARNING: strptime() expects parameter 1 to be string, object given in Date.php Zeile 194
I used. filter=kalenderdatumende^ge^now

[2015-01-30 15:54] Alexalter commented on #2071
Hi Michael!

Bei Benutzerprofil bearbeiten
bevor das Geb Datum eintragen in Feld steht so ein Fehler
![benutzerprofil_bearbeiten](https://cloud.githubusercontent.com/assets/9826965/5978144/dfa04806-a89d-11e4-96d3-a3b826cedc90.jpg)

in Atribut habe ich einfach so Geb Datum eingetragen in Zikula 1.3.9, auch in Zikula 1.2.9, aber in Zikula 1.2.9 sind kein so ein Fehler alles richtig funktioniert.

si

[2015-01-30 16:00] Alexalter commented on #2071
und in Zikula 1.2.9 bevor Geburtsdatum eintragen steht heutige Datum.

[2015-01-30 19:37] Portugao commented on #2071
Yo. Jetzt ist klar, worum es geht und ich kann die Fehlermeldung reproduzieren.

[2015-01-31 09:20] shefik opened #2212 "Incorrect Link to Installation Guide"
During the installation process, there is a long to the "Insertion Guide". It is incorrectly pointing to:

/docs/en/INSTALL.md

When the existing file is:

/docs/en/INSTALL-1.4.0.md

Also, it seems unnecessary to have the link open via onclick=\"window.open('%2$s');return false;\", when target="_blank" can be used instead.

[2015-01-31 11:05] Guite commented on #2171
Yes, I can do this in the next days.

[2015-01-31 11:19] #2125 closed

[2015-01-31 11:21] Guite commented on #2144
Closing. If you have more to add, please create separate issues for each aspect.

[2015-01-31 11:21] #2144 closed

[2015-01-31 11:24] Guite commented on #1214
Closing this issue, as the last stuff is covered by #2206 and #2208

[2015-01-31 11:24] #1214 closed

[2015-01-31 11:26] craigh commented on #2212
I can find no instances of `INSTALL.md` or `docs/en/INSTALL.md` or `insertion guide` in the core. please update your pull and provide more specific information about the location of the error.

re-open if you have more information. thanks!

[2015-01-31 11:26] #2212 closed

[2015-01-31 11:33] shefik commented on #2212
Ok, I see that I was using an outdated POT file. After I updated, the strings I mentioned are obsolete.

[2015-01-31 11:36] rallek commented on #1214
:+1:

great step forward!

[2015-01-31 13:46] craigh commented on #2171
@Guite  - after pulling this change, I tried to install Dizkus and got this error which seems related here:

    at n/a
        in /Applications/MAMP/htdocs/core.git/src/lib/legacy/Zikula/Workflow.php line 186

        in /Applications/MAMP/htdocs/core.git/src/lib/legacy/Zikula/Workflow/Util.php line 176

        in /Applications/MAMP/htdocs/core.git/src/system/ZikulaRoutesModule/Util/Base/Workflo

[2015-01-31 13:47] Guite commented on #2160
https://github.com/symfony/AsseticBundle/blob/master/DependencyInjection/AsseticExtension.php#L63
https://github.com/symfony/AsseticBundle/blob/master/DependencyInjection/Configuration.php#L67
this is where it seems to come from

Should we report this at https://github.com/symfony/AsseticBundle/issues ?
Maybe postpone to 1.4.1, too?

[2015-01-31 13:51] craigh commented on #2171
the result is that Dizkus appears to be installed, but the routes are not loaded

[2015-01-31 13:52] craigh commented on #2171
if I try to reload the routes, I get the same error.

[2015-01-31 13:56] Guite commented on #2160
Added a report at https://github.com/symfony/AsseticBundle/issues/348 , postponing this issue to 1.4.1

[2015-01-31 13:59] Guite commented on #2171
Fixed in 3e633724cd23cf4d6cd4e76c0e086bf57fa28c9b

[2015-01-31 13:59] #2171 closed

[2015-01-31 14:06] craigh commented on #2171
confirmed. thank you.

[2015-01-31 15:23] craigh commented on #1956
I just tested this again and did not have the problem anymore!

[2015-01-31 15:23] #1956 closed

[2015-01-31 16:21] Portugao commented on #1214
Wow!
Thx a lot, Axel! :smiley:

[2015-01-31 17:09] Guite opened #2213 "Provide a release candidate"
A first RC could be built and published.

[2015-01-31 17:37] Topiatic commented on #2213
:)

[2015-01-31 17:41] cmfcmf commented on #2213
If it's also released and tagged at GitHub (as `prerelease`) it should fully automatically appear at the EL and http://zikula.org.

[2015-01-31 18:41] Guite commented on #2211
Where do you use which filter? Clip module?
Which core version?

[2015-02-01 12:28] craigh commented on #1856
events were added back in #2050

[2015-02-01 13:23] craigh commented on #1856
@cmfcmf @Guite can either of you explain what the issue is with **Paginate (Doctrine Extensions)** ? What happened, what was required to be changed and why?

[2015-02-01 13:30] craigh commented on #2001
I've looked into this a little. It is not an easy task to implement the ability to choose once again. Not impossible, but difficult.

[2015-02-01 13:32] Guite commented on #1856
Doctrine 2.2 introduced a Paginator component:
http://doctrine-orm.readthedocs.org/en/latest/tutorials/pagination.html

In the 1.3 core we included Doctrine 2.1.4
https://github.com/zikula/core/blob/1.3/src/plugins/Doctrine/Plugin.php#L59
so we had to use an extension for this:
https://github.com/beberlei/DoctrineExtensions#paginator

More information with regards to the different implementations

[2015-02-01 13:36] craigh commented on #1856
@Guite what about including the Extension in 1.4.0 so both options are available?

[2015-02-01 13:38] Guite commented on #1856
I wouldn't do this.
First the repo isn't maintained:
[code]
Second how many 1.3 modules are using it actually?
MOST-based modules can be regenerated with ease anyway, so they don't really count.

[2015-02-01 13:40] Guite commented on #1856
Also we don't know whether the extension works with Doctrine 2.2+. So if we would really want to provide a BC layer, we would probably need to include the old Doctrine version, too - which is going to become ugly if we need to have two Doctrine installations in parallel.

[2015-02-01 13:41] craigh commented on #1856
I was just trying to find ways to keep BC as much as possible. Even though it isn't maintained, we might include it but only if we can confirm it is compatible with D2.2+ (if it is not used, all the better :smile: ).

I agree we should not include two versions of doctrine.

[2015-02-01 14:01] cmfcmf commented on #2213
The RC should also probably have debug set to false and env to prod.

[2015-02-01 14:13] shefik opened #2215 "Unable to access Themes admin"
These URLs are not accessible:

/themes/admin
/themes/admin/view

[2015-02-01 16:54] Guite commented on #2215
http://localhost/src/theme/admin/view works here on my test install. Not using the latest version there though.

@craigh @cmfcmf can you reproduce the problem maybe?

[2015-02-01 16:55] Guite commented on #2215
@shefik note it seems to be `theme/foo` instead of `themes/foo`.

[2015-02-01 17:13] craigh commented on #2213
we probably also need to decide on specific vendor releases instead of dev/master. there is a ticket about that somewhere?

[2015-02-01 17:17] Guite commented on #2213
Yes: #2111 - just moved to 1.4.0 again.

[2015-02-01 17:48] craigh commented on #2215
the proper path is `/theme/admin` (no 's')

[2015-02-01 18:02] craigh commented on #1856
:laughing: :laughing: :laughing:

The extension is ***still included*** already :exclamation:

[2015-02-01 18:03] cmfcmf commented on #1856
I think I re-included it after discussion with @drak. You should find a PR.

[2015-02-01 18:06] craigh commented on #1856
IMO, including it is enough to clear the BC issue.

[2015-02-01 18:09] craigh commented on #1856
original ticket is #890. PR is #891.

[2015-02-01 18:19] craigh commented on #1856
I've updated the docs for a more accurate representation of that concern in my pending PR.

If anyone is aware of any other vendor library that is also deprecated, then we should also add it to the docs.

IMO when my PR is merged, this ticket is complete.

[2015-02-01 18:24] craigh opened #2216 "remove beberlei/DoctrineExtensions"
It is deprecated in 1.4.0

[2015-02-02 05:14] shefik commented on #2215
The site currently routes to "themes".

[2015-02-02 05:25] shefik commented on #2215
These are the steps to reproduce:

1. Go to: /extensions/modules?letter=Z

2. Edit "ZikulaThemeModule" by changing "Module URL" from "theme" to "themes".

The problem also exists, if the Zikula POT file has been customized to map the string from "theme" to "themes".

This results in the module not being accessible, since the routing only allows "theme" to be accessible. Customizations are not perm

[2015-02-02 06:59] Guite commented on #2215
Relates to #1878 probably.

[2015-02-02 10:46] craigh commented on #2215
did you regenerate your routes after customizing them?

[2015-02-02 11:01] shefik commented on #2215
No, I did not regenerate the routes. Shouldn't that be done automatically, since an update to the URL was made?

[2015-02-02 11:01] craigh commented on #2215
I can confirm that the problem exists and that reloading routes makes no difference.

[2015-02-02 12:56] craigh opened #2221 "Use Twig without templating sub system"
http://symfony.com/blog/new-in-symfony-2-7-twig-as-a-first-class-citizen

investigate what we must change to take advantage of the improvements.

[2015-02-02 12:59] Guite commented on #2221
Very interesting also:
http://blog.twig.sensiolabs.org/post/108066687523/twig-1-17-0-released
http://blog.twig.sensiolabs.org/post/109117075188/twig-1-18-0-released

[2015-02-02 13:34] craigh commented on #1856
closed by #2214

[2015-02-02 13:34] #1856 closed

[2015-02-02 13:57] Portugao commented on #1953
Can you give information witch template you talk about?

[2015-02-02 14:00] Portugao commented on #1629
Cannot reproduce this with 1.3.9.
Could you please check again with 1.3.9

[2015-02-02 14:14] Portugao commented on #2071
This is an issue in Profile, i think.
How to handle this? Profile is modified to 1.4 standards, if i'm right?
@Guite , @craigh , @cmfcmf

[2015-02-02 14:15] craigh commented on #2215
the base prefix (the part we are editing here *theme* -> *themes*) is not stored in the DB and therefore a reload should not be required.

[2015-02-02 14:17] craigh commented on #2071
Profile is up-to-date but bugs in a few areas, yes.

[2015-02-02 14:19] Guite commented on #2071
The issue should be recreated at the Profile project's tracker:
https://github.com/zikula-modules/Profile/issues

The master branch containing version 2.0.0-beta is for Zikula 1.4.0.
There is another branch also at https://github.com/zikula-modules/Profile/tree/release-1.6.1 which is the latest release for 1.3.

[2015-02-02 14:21] Portugao commented on #2071
Will do that.

[2015-02-02 14:23] Portugao commented on #2071
Moved to:
https://github.com/zikula-modules/Profile/issues/47

[2015-02-02 14:27] #2071 closed

[2015-02-02 14:43] trichers commented on #2211
I use Zikula 1.3.10 and Clip 0.9.4
I have a date-field in Clip (kalenderdatumende) and want to ask which pid is newer or older than today

[2015-02-02 14:46] craigh commented on #2215
@shefik is this the error you get also?

![screen shot 2015-02-02 at 9 46 15 am](https://cloud.githubusercontent.com/assets/350048/6002324/5beab512-aac0-11e4-9b10-471bdc857279.png)

[2015-02-02 14:48] trichers commented on #1953
I mean this https://github.com/zikula/core/tree/1.3/src/system/Blocks/templates/menutree
But I think it is in this plugin:
https://github.com/zikula/core/blob/1.3/src/system/Blocks/templates/plugins/function.menutree.php

For bootstrap we need the class "active" not "selected"

[2015-02-02 14:52] craigh commented on #2215
this feels like an `.htaccess` problem. I've tried inserting breakpoints in `index.php` at the earliest possible time and the page load fails before reaching them, so the issue is happening earlier than that. I don't know much about what happens then. @Guite @cmfcmf your help is required.

[2015-02-02 14:57] craigh commented on #2215
interestingly, attempting to access `http://127.0.0.1/core.git/src/theme/admin` results in 404 and a proper Exception

[2015-02-02 15:01] Guite commented on #2215
Yeah, I guess the problem is that there exists a folder named `themes/`.

[2015-02-02 15:02] craigh commented on #2215
ah! so it is trying to match the filesystem first before being routed through the core!

[2015-02-02 15:05] craigh commented on #2215
confirmed! So, if I change the `$module['url']` to `themex` then it works as expected!

[2015-02-02 15:05] craigh commented on #2215
so maybe this is only a documentation problem? you cannot select a `url` that is the same as a directory name.

[2015-02-02 15:24] Portugao commented on #1641
Should be closed.

[2015-02-02 15:27] #1641 closed

[2015-02-02 16:41] shefik commented on #2215
That is the error

[2015-02-02 16:42] shefik commented on #2215
Although, it worked before these changes with routes occurred.

[2015-02-02 16:45] craigh commented on #2215
that is because the url would have looked like `index.php?module=themes&type=admin&func=view` and now it is a "directory based" route. So the filesystem thinks `/themes` means a directory on the server and if that directory actually exists, you get this error. If it doesn't exist, then the php kicks in and the routing works.

[2015-02-02 20:23] Portugao commented on #2211
Please show the code!

[2015-02-02 21:26] Portugao commented on #1953
How and in which template do you use the class 'selected'?
I think, it is not usefull in each template....

[2015-02-02 21:31] Portugao commented on #1896
We have to clear what to do with this issue.
It seems to be very difficult, so i prefer to do only in 1.4 branch and move this issue to 1.4 milestone.
Any suggestions?

[2015-02-02 21:34] Portugao commented on #1954
Hi @drak.
Are you able to work with this issue?

[2015-02-02 21:43] trichers commented on #1953
In the old module menutree it was a part of the menutree plugin.
I think to use the bootstrap menu, it should be a standard that a active menu item is set class="active"

[2015-02-02 21:43] trichers commented on #1953
In the old module menutree it was a part of the menutree plugin.
I think to use the bootstrap menu, it should be a standard that a active menu item is set class="active"

[2015-02-02 21:44] trichers commented on #1953
In the old module menutree it was a part of the menutree plugin.
I think to use the bootstrap menu, it should be a standard that a active menu item is set class="active"

[2015-02-02 22:39] craigh commented on #1954
drak tried to give me access today but it wouldn't work.

[2015-02-03 06:56] #2215 closed

[2015-02-03 07:23] trichers commented on #2211
I use it in a Link like: &filter=kalenderdatumanfang^ge^now
and I tested it with an real date
&filter=kalenderdatumanfang^ge^2015-1-31

[2015-02-03 08:08] Portugao commented on #1954
Not so good.

[2015-02-03 08:09] espaan commented on #1896
I would not do it in the 1.3.x branch indeed. Keep that stable and no all too new things.
IMHO

[2015-02-03 08:18] espaan opened #2223 "[1.3.x] Add jQuery 1.11.2 with migrate as option in 1.3.x"
I'm using a Bootstrap Twitter / jQuery theme in 1.3.10 (ci.zk version) at the moment. Most modern themes like that need a newer jQuery then the 1.8.3 provided in Core 1.3.10.

I have modified JCSSUtil already to have an extra option for the newer jquery-1.11.2 with jquery-migrate 1.2.1. I try to make a PR later on with updated JCSSUtil.php and added jquery libs.

This will in the end make it easie

[2015-02-03 08:31] Guite opened #2224 "Extract URLs from Gettext calls"
URLs should be assigned as arguments to Gettext calls instead of including them into the POT file.

cc @shefik @craigh
refs #2222

[2015-02-03 08:33] espaan commented on #2174
Followup. It's quite easy to add in the Imagine plugin where you can omiss width or height or set width or height to 'auto' and then re-calculate the dimensions from the imagesize. It works in my test install. I have to provide a PR later on.

[2015-02-03 08:36] espaan commented on #2170
Point 2) and 3) can be followed up in https://github.com/zikula/core/issues/2223
But there will be one PR (per Core version of course) with the change :-)

[2015-02-03 10:40] Portugao commented on #2211
Puh.
I'm not familiar with clip, so the fragments of your code does not help me.
Please show the complete code, you use. I have to understand the issue.

[2015-02-03 10:51] craigh commented on #2224
I looked and found none. If you can show me where they are please reopen.

[2015-02-03 10:51] #2224 closed

[2015-02-03 11:21] Guite commented on #2213
http://symfony.com/blog/symfony-2-6-4-released although it includes only bugfixes we need maybe to do a bit of retesting

[2015-02-03 11:34] craigh commented on #2213
would be auto included in the build and therefore tested as part of the QA cycle

[2015-02-03 12:55] Portugao commented on #2211
Not an issue of the core.
Can be closed.

[2015-02-03 12:57] #2211 closed

[2015-02-03 17:49] matheo commented on #2211
@trichers Try the latest commit to Clip 0.9 Thomas.
https://github.com/zikula-modules/Clip/tree/0.9

[2015-02-04 20:17] Portugao commented on #1629
ping @damon18
Please check again!

[2015-02-04 20:54] #2170 closed

[2015-02-04 20:57] #2223 closed

[2015-02-05 00:09] craigh commented on #1954
@Guite can what you git in 1.4. with the github lookup be back-ported to solve this problem?

[2015-02-05 00:11] craigh commented on #1896
moved to 1.4 milestone. don't know if there is time to get it in before release. A quick PR would help, but concerned about

[2015-02-05 00:13] craigh commented on #2174
Which core version should this apply to?

[2015-02-05 07:02] espaan commented on #2174
13 and 14

I'm  updating this part too in the imagine the plugin.

[2015-02-05 07:25] espaan commented on #1896
+1

[2015-02-05 07:38] Guite commented on #1954
Fixed in 5e8296e2ec1bccc240877a507c88f01afa5bed21

[2015-02-05 07:38] #1954 closed

[2015-02-05 09:48] shefik opened #2227 "URLs are not working anymore"
URLs are not working anymore. Install Zikula 1.4.0 build 416. After a new installation, it redirects to:

/administration/panel

However, a 404 error is thrown.

All pages of the site (except for the homepage) also throw a 404 error.

[2015-02-05 21:20] craigh commented on #2227
@Guite this looks like a workflow issue again.

    at n/a
        in /Applications/MAMP/htdocs/140/lib/legacy/Zikula/Workflow.php line 193

        in /Applications/MAMP/htdocs/140/lib/legacy/Zikula/Workflow/Util.php line 176

        in /Applications/MAMP/htdocs/140/system/ZikulaRoutesModule/Util/Base/WorkflowUtil.php line 192

        in /Applications/MAMP/htdocs/140/system/ZikulaRoutesModule/E

[2015-02-05 21:28] cmfcmf commented on #2227
Related lines:
- https://github.com/zikula/core/commit/73db04b5981e84f28cf1417a87ad363c07652966#diff-e9adc36e907cf03bcaf731eafac33843L27
- https://github.com/zikula/core/blob/1.4/src/system/ZikulaRoutesModule/Resources/docs/model/Routes.mostapp

[2015-02-05 21:50] craigh commented on #2227
fixed by #2228

[2015-02-05 21:50] #2227 closed

[2015-02-06 13:53] shefik commented on #2227
@craigh It is not fixed. I tried Zikula 1.4.0 build 417 with a new installation. Same issue persists.

[2015-02-06 14:19] craigh commented on #2227
It worked for me fine

Sent from my iPhone

[2015-02-06 15:01] Kaik commented on #2227
Same for me yesterday I have installed it at least 5 times web install everything is fine. @shefik I remember similar behaviour some time ago and do you have mod_rewrite installed?
You can try to change module_vars - stripentrypoint from 1 to 0 using phpmyadmin and see if you can reach any other page than home.

[2015-02-06 16:01] shefik commented on #2227
I use MAMP, so mod_rewrite is already installed.

[2015-02-07 13:32] craigh commented on #2227
When I tested for this ticket initially, I received a pop exception during the ajax installation stage, which I copied the contents above. If you are still receiving an error, please copy the contents/trace here.

[2015-02-07 13:45] Alexalter opened #2230 "Attempted burglary recognised(seen) by PHPIDS"
With activation in security headquarters / configuration PHPIDS use I get with everybody new open side e-mail

Mail:
Der folgende Angriff wurde von PHPIDS entdeckt IP: 8x.xxx.xxx.xxx Benutzer ID: 2 Datum: 06. Feb 2015 Request Impact: 37 Betroffene Tags: xss csrf id rfe sqli lfi Betroffene Parameter: COOKIE.zikulaMobileTheme=%5B%22%5C%222%5C%22%22%2C%22a0c9aeb885b19b1c0df186eb545a5835bfd91130%22%5D

[2015-02-07 14:17] shefik commented on #2227
Okay, I got it working again, Looks like MAMP was configured not to allow overrides to ".htaccess", which is needed. So, that part is fine.

Now I'm wondering how you are actually installing Zikula. There used to be a file "/install.php", but that no longer exists. Without that file, the site redirects to "/install", but access is denied with the error message:

"Forbidden

You don't have permissi

[2015-02-07 14:33] craigh commented on #2227
Apparently you are overwriting old files with the new ones? Please follow the [actual install instructions](https://github.com/zikula/core/blob/1.4/INSTALL-1.4.0.md)

**Start with an empty directory** and follow the instructions. There should be no `/install` directory at all. If there is, you are using the old installer which is removed in current builds.

[2015-02-08 10:58] shefik opened #2232 "remove IE7 & IE8 Browser Support"
Bootstrap 3 does not support IE 7 and 8, so we should stop supporting these browsers too.

For example, in the file:

@ZikulaCoreInstaller/structure.html.twig

at line 10, this this type of code should be removed:

The same applies for any modules and/or themes which might have any browser-specific code to IE 7 and IE 8.

[2015-02-08 11:00] Guite commented on #2232
IE8 is supported by Bootstrap, see http://getbootstrap.com/getting-started/#support

[2015-02-08 11:06] shefik commented on #2232
Ok, but suport for IE 7 should go.

Also, note this reference for IE 8 and IE 9:

http://getbootstrap.com/javascript/#callout-carousel-transitions

[2015-02-08 11:11] shefik opened #2233 "Update POT file for installer"
The strings contained in the installer template are not found in the zikula.pot file. For example, this is not found:

"Useful resources"

[2015-02-08 11:13] Guite commented on #2233
Probably a duplicate of #2191...  @craigh  ?

[2015-02-08 11:29] shefik opened #2234 "[CoreInstallerBundle] Support custom installations"
Does the AJAX and CLI core installation code support the ability to have custom installations? Such as a means to have desired modules and its vars installed during the sequence at certain stages?

[2015-02-08 11:31] #2233 closed

[2015-02-08 11:33] craigh commented on #2233
Sadly, the get text module is not currently capable of extracting the strings from twig templates.

[2015-02-08 11:34] craigh commented on #2232
For Core 2.0.0 we can change things, but for now we still support what version 1.x.x always supported.

[2015-02-08 11:39] craigh commented on #2234
not really. of course, it could be extended to do so with some effort.

[2015-02-08 12:27] craigh commented on #1882
@espaan would you have the time to look into this?

[2015-02-08 12:47] rallek opened #2235 ""Pre" Check requirements for installer"
see also #2144
I want to see a "pre" Check requirements to check the permissions of app/cache and app/logs.

There might be technical reasons why this is not checked today and throwing an error message. But these error messages should be managed by the installer as well, similar to the Check requirements comming one step later. For users like me it looks like somthing is forgotten in the installer

[2015-02-08 13:20] Guite commented on #2235
Related to #2162

[2015-02-08 13:24] rallek commented on #2162
Add some more information in the success Email about next typical steps )e.g. what to do in the admin like actvate leagel, profile do some settings, add some more modules, ...

[2015-02-08 13:42] shefik commented on #2234
Refs. https://github.com/zikula/core/issues/2162

[2015-02-09 07:41] Guite opened #2236 "Migrate Blocks to jQuery"
Refs #1214

- [ ] General editing (views/Admin/modify.tpl)
- [ ] ExtMenu (views/Block/Extmenu/modify.tpl)
- [ ] MenuTree (Zikula.Menutree.Tree.js, contextmenu.js, functions.js, MenutreeTree.php)

[2015-02-09 07:42] Guite commented on #2236
@jusuff any chance you can help with MenuTree conversion?

[2015-02-09 08:21] espaan commented on #1882
Hi, I have not tested much in 1.4 yet, but I can take a look.

[2015-02-09 08:40] espaan opened #2237 "[1.4.x] Installer - Modules and Helpers page list image"
Hi,
installing 1.4.x and getting to the installing Modules and Helpers page. All works fine, but I got confused there. The circles (fa-circle) in front of the modules that will be installed suggest that you have to tick them. But this is not the case. There just an overview of things that will be installed.

I would change
<i class="fa-li fa fa-circle-o"></i>
into
<i class="fa-li fa fa-check"></i>

[2015-02-09 08:41] espaan commented on #2237
Never mind, the installer does this automatiicaly when you start installing :-( duh.

[2015-02-09 08:41] #2237 closed

[2015-02-09 09:50] espaan opened #2238 "[1.4.x] Tabs disappear when clicked"
Just tried Content (4.2.0) so old style module etc with 1.4.x. Most things seem to work perfectly.
Of course layouts can be converted into col-md-x columns instead of the "hard coded" 62-38/etc% column divisions, but that is a small thing.

However the Tabs that are using {formtabbedpanel __title='Content'} is not all ok. There are 3 tabs, when you click one the 2nd the first dissappears, when you

[2015-02-09 10:08] espaan commented on #1882
Testing, but I get a stack trace when opening e.g. the Main Menu block after default 1.4 install
[code]

[2015-02-09 10:38] Guite commented on #1882
#2239 is merged now.

[2015-02-09 10:38] espaan commented on #1882
:+1:

[2015-02-09 10:40] craigh commented on #2238
I noticed this in EL also.

[2015-02-09 10:41] espaan commented on #2238
Weird, somehow the tab as well as the content div is hidden instead of only the content div not visible.

[2015-02-09 12:11] craigh commented on #2238
@phaidon - could this have something to do with some of the "magic" you added to help jQuery and bootstrap play well together?

[2015-02-09 13:10] #1882 closed

[2015-02-09 13:12] Guite commented on #1882
@craigh awesome!

[2015-02-09 13:45] craigh opened #2240 "add cache:warmup to installer"
add a cache warmup stage to installer so first page doesn't take so long for admin (makes it feel broken).

[2015-02-09 13:47] cmfcmf opened #2241 "zikula:install:finish shouldn't execute if Zikula is installed but print a nice error message like zikula:install:start does."
It currently results in:
[code]

[2015-02-09 14:19] cmfcmf commented on #2238
Probably related to https://github.com/zikula/core/issues/1190.

[2015-02-09 14:25] craigh commented on #2238
refs https://github.com/zikula/core/commit/079df47e7c1f536a0d9eea2993ae19768e1f0554

[2015-02-09 14:45] cmfcmf commented on #2238
Random guess: It does not work because jQuery is loaded after prototype:

<script type="text/javascript" src="http://zikula.org/web/jquery/jquery.min.js"></script>

[2015-02-09 14:47] espaan commented on #2238
And it should :-) http://api.jquery.com/jquery.noconflict/#jQuery-noConflict-removeAll
the noconflict is always adviced to load prototype first and then jQ

[2015-02-09 14:47] craigh commented on #2238
no it doesn't work.

[2015-02-09 14:48] craigh commented on #2238
but the "fix" checks for jQuery - and now this happens BEFORE jQuery exists.

[2015-02-09 14:48] craigh commented on #2238
we need the sorcerer. ping @phaidon PLEASE HELP!

[2015-02-09 14:51] espaan commented on #2238
Ah right, that makes it more difficult indeed. mmhh. Then jQuery should be loaded first for the fix, but is adviced to load after prototype in noconflict description..

[2015-02-09 14:52] craigh commented on #2238
I wonder if the fix could be extracted from it's current location and loaded later.

[2015-02-09 14:56] espaan commented on #2238
In my case jQuery is loaded before prototype, see below. But still the tabs dissappear.

[code]

[2015-02-09 14:57] craigh commented on #2238
I think this is the fix but am sort of clueless on implementation

http://softec.lu/site/DevelopersCorner/BootstrapPrototypeConflict

[2015-02-09 15:01] espaan commented on #2238
It should be
[code]
and not hide.bs.tabs in the prototype fix :-) then it works in my case.

[2015-02-09 15:04] craigh commented on #2238
I don't see `tabs` plural in the fix?

[2015-02-09 15:06] espaan commented on #2238
No sorry, my bad. You had hide.bs.tab. Updated comment. We were only missing hide.bs.tab is seems in the prototype fix.

[2015-02-09 15:20] cmfcmf commented on #2089
Okay, I've just reproduced it:
1. Activate "moderate registrations"
2. Insert an "E-mail address to notify of registrations"
3. Register a new account -> both admin and user get an email
4. verify account using the link in the user's email
5. approve account using the admin interface
6. both user and admin receive an email saying that the account has now been activated. The admin shouldn't receive

[2015-02-09 15:28] espaan commented on #2238
So also update line 514 in https://github.com/zikula/core/blob/1.4/src/lib/util/JCSSUtil.php#L514
and remove prototype "hack"
JCSSUtil line 514 should be updated
[code]
into
[code]

[2015-02-09 16:06] cmfcmf opened #2245 "Release Legal 2.0.2 & Profile 1.6.2"
Before Zikula 1.3.10 is released, make sure to tag Legal at the `2.0.x-release` branch and release it and do the same with Profile 1.6.2

[2015-02-09 16:51] craigh commented on #2241
are you talking about this 'nice' error?

https://github.com/zikula/core/blob/1.4/src/lib/legacy/Zikula/Core.php#L240

[2015-02-09 16:55] craigh commented on #2241
this error is only the result of multiple tries, yes? in the best case, this shouldn't happen?

[2015-02-09 17:35] cmfcmf commented on #2241
By "nice" I mean the following:
[code]

[2015-02-09 17:42] cmfcmf commented on #2240
Sounds like a good idea :+1:

[2015-02-09 23:37] #2241 closed

[2015-02-09 23:46] craigh commented on #1896
once https://github.com/zikula/core/pull/2242 is merged, then (according to @espaan ) the prototype lib is back to its original (from vendor) state, so upgrading is much easier. But there remains the issue of the combined and compressed version - does anyone know how this was created?

[2015-02-10 07:15] jusuff commented on #1896
It was manually created. At least one time I did this using yui compressor.
Doing this one must remember about proper scripts order:
prototype
effects
builder
controls
dragdrop
slider
sound

[2015-02-10 07:56] espaan commented on #1896
Hi, that should be doable with a compressor indeed.. Are there specific things for testing/checking after making a minified version ?

[2015-02-10 08:00] jusuff commented on #1896
I was just testing this in local working copy. There shouldn't be any issues except script order and this will be easy to find (lots of undefined warnings).

[2015-02-10 08:03] espaan commented on #1896
Ok thanks !
description of things to do: http://www.boogdesign.com/b2evo/index.php/compressed_prototype_scriptaculous?blog=2

There does seem to be an action to remove parts for loading seperate scriptaculous scripts.

[2015-02-10 08:12] jusuff commented on #1896
There's not need to remove anything. Just combine scripts WITHOUT scriptaculous.js file.
The only thing scriptaculous.js is doing is loading it's subscripts (effects, dragdrop etc). We don't need this if we're making combined file.

[2015-02-10 08:13] espaan commented on #1896
Clear, thanks

[2015-02-10 10:54] craigh commented on #2089
@cmfcmf will you be fixing this? If not, please move it to 1.4.1 or 2.0.0

[2015-02-10 15:20] cmfcmf commented on #2089
Moved to 1.4.1.

[2015-02-13 10:35] jusuff commented on #2236
I have to check it. I'm not sure, but probably I did some partial menutree conversion to jQuery and should have it locally.

[2015-02-13 10:43] craigh commented on #2236
be sure to take a look at where we are currently and also the PR I have in progress.

[2015-02-13 10:44] craigh commented on #2236
oops. never mind that ;-) I thought this was a different ticket. :stuck_out_tongue_winking_eye:

[2015-02-13 11:06] jusuff commented on #2236
I suppose you meant categories? ;>

2015-02-13 11:44 GMT+01:00 Craig Heydenburg <notifications@github.com>:

[2015-02-13 14:30] craigh commented on #2236
of course ;-)

[2015-02-14 10:42] Guite opened #2251 "Confusing email sending behaviour in Users administration"
When creating a user in the admin area you can select whether the password will be sent via email to the user's email address. If setting this to `no` one expects that no email is sent. Actually the user receives a mail in both cases though, just with a different content (admittedly there is a form note explaining that).
To make this more clear and to support the third case (sending no mail at all

[2015-02-15 12:17] craigh commented on #2238
closed by #2242

[2015-02-15 12:17] #2238 closed

[2015-02-15 12:17] craigh commented on #2111
closed by #2217

[2015-02-15 12:17] #2111 closed

[2015-02-15 12:18] craigh commented on #1896
@espaan can you do this today?

[2015-02-15 12:19] craigh commented on #2206
problems remaining:
 - [ ] copy node with children
 - [ ] redraw of tree graphic elements on dynamic (ajax) insert

ping @jusuff

[2015-02-15 12:25] espaan commented on #1896
Hi, sorry will be difficult, have a number of other things to pick up today.

[2015-02-15 12:26] craigh commented on #1896
if I have time I will look into it then.

[2015-02-15 12:50] cmfcmf opened #2252 "Find an icon for the Routes module"

[2015-02-15 13:00] craigh commented on #2252
lower right of this: http://www.dreamstime.com/stock-illustration-rhombic-yellow-road-signs-arrows-directions-isolated-white-background-image42970539

[2015-02-15 13:01] craigh commented on #2252
or middle left of this: http://www.dreamstime.com/stock-illustration-rhombic-yellow-road-signs-arrows-directions-isolated-white-background-image42970522

[2015-02-15 13:09] craigh commented on #1896
@Guite @cmfcmf can this be automated in the build process? I see there are already [lines for YUI compressor](https://github.com/zikula/core/blob/1.4/build.xml#L279-L283)

[2015-02-15 18:38] #1896 closed

[2015-02-15 18:44] Portugao commented on #2174
Could be closed if i'm not wrong.

[2015-02-15 19:22] espaan commented on #2174
Yes this is solved with the updated imagine plugin

[2015-02-15 19:25] #2174 closed

[2015-02-15 19:32] Portugao commented on #2174
:+1:

[2015-02-15 20:49] jusuff commented on #2236
For the record - I'm going to rewrite menutree to use jstree (the one used in categories)

[2015-02-18 10:27] nmpetkov opened #2254 "[1.3.9] POT file is not up-to-date"
POT file in tagged Zikula version 1.3.9 does not correspond to all strings in templates.

[2015-02-18 13:16] craigh commented on #2254
POT file is not kept in sync with development. It must be manually done before release.

[2015-02-18 13:21] nmpetkov commented on #2254
Yes, I realize that, but decided to create this issue, as obviously for 1.3.9 release had been forgotten.

[2015-02-18 13:22] craigh commented on #2254
gotcha :+1:

[2015-02-18 16:33] craigh opened #2258 "Allow Github to provide data on newest release"
https://developer.github.com/changes/2015-02-18-new-releases-api-methods/

new methods available. Could be useful in providing info to installations. I know we already altered this some. maybe this is better?

[2015-02-19 14:50] craigh opened #2260 "Finalize gettext implementation for ZikulaTwig"
There are currently two options for how Zikula will implement get text translation in Twig templates:

  1. so called "native" implementation (http://twig.sensiolabs.org/doc/extensions/i18n.html) which is currently ***enabled*** in the core as of Core 1.4.0 but unused
  2. The zikula method which is implemented as a [Twig Extension of the core bundle](https://github.com/zikula/core/blob/1.4/src/li

[2015-02-19 14:52] craigh commented on #2260
ah - here is another concern for the native method:

[2015-02-19 16:20] craigh commented on #2206
note to @Guite : this was NOT an easy pick :stuck_out_tongue_winking_eye:

[2015-02-20 14:37] craigh commented on #2206
closed by #2253

[2015-02-20 14:37] #2206 closed

[2015-02-20 17:35] craigh opened #2261 "refactor Zikula_Tree"
refactor Zikula_Tree to more closely align with jsTree. Move to non-legacy class. fyi @jusuff

[2015-02-20 17:43] craigh opened #2262 "create method for adding/deleting hooks in installer"
currently, hooks cannot be added without removing all current hooks and then adding new ones. this should be improved to allow the dev to add or remove hooks later in the development cycle.

[2015-02-20 19:52] craigh commented on #2213
This is the final remaining ticket in 1.4.0 milestone. I think we are ready!

[2015-02-21 14:53] craigh opened #2264 "QA testing for release of 1.4.0 build #448"
Please test build [#448](http://ci.zikula.org/job/Zikula_Core-1.4.0/448/) and decide if it should become the next official release. __Anyone may participate in the testing process.__

Testing guidelines can be found in [Release Testing Guideline](https://github.com/zikula/core/wiki/Release-Testing-Guidelines)

We require five +1 votes to promote this build and a minimum testing period of three day

[2015-02-21 14:54] craigh commented on #2213
closed by #2264

[2015-02-21 14:54] #2213 closed

[2015-02-21 17:15] Guite commented on #2251
Already done in https://github.com/zikula/core/commit/04f73ee9541352042546b258df24c7d316c1f0c4

[2015-02-21 17:15] #2251 closed

[2015-02-21 17:16] cmfcmf commented on #2251
Awesome :-D

[2015-02-21 17:18] rallek opened #2265 "file permissions in tar.gz not correct"
I downloaded the RC1 files from http://zikula.org/library/releases

Uploaded to allinkl shared service (with command line access). unpacked by tar -xvzf

here is the result of ls:
[code]

Calling my site I do get the error message:

Fatal error: Uncaught exception 'RuntimeException' with message 'Unable to create the cache directory (/www/htdocs/w012e56e/rallek.k62.org/Zikula_Core-1.4.0/app/cache/

[2015-02-21 17:28] rallek commented on #2265
next problem:

after changing cache and logs to 777 I see the install screen. Clicking on the install button I do get this error:

Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.

Failed to copy "/www/htdocs/w012e56

[2015-02-21 17:30] rallek commented on #2265
Now the installer is showing again. Unexpected the folders /app/config/dynamic /userdata and /config are not writable.

I manually change the permissions as well

[2015-02-21 17:39] rallek commented on #2265
Stop!

I do have a problem in Ownership! The owner of the files must be www-run. But If I upload the tar.gz file and unpack it by my ssh-owner the files will have the ownership of the ssh-owner. I will restart the test, unpack again and change the ownership of the unpacked files first.

[2015-02-21 17:46] rallek commented on #2265
while waiting for the change ownership of all files I am thinking about this problem. A lot of user only can use ftp because they are on shared hosting. They are not able to change the ownership to the webserver (PHP-User is the name at allinkl). So the normal shared hosting user will have trouble to install.

[2015-02-21 17:50] rallek commented on #2265
after changing the ownership of all files the installation is running well

[2015-02-21 17:50] #2265 closed

[2015-02-21 17:56] rallek opened #2266 "installing RC1 at shared hosting is giving trouble"
as shown in #2265 it is a problem, if you upload files via ftp and the owner of the files is different to the webserver.

In this cases the installation is not running well (a lot of errors of wrong ownership)

For me this is a blocker!

[2015-02-21 18:01] Portugao commented on #2266
Hmmhmm....I uploaded files per ftp ( not as zip ) and i get no issues with ownership.

[2015-02-21 18:36] rallek commented on #2266
will test at another account later again

[2015-02-21 18:46] rallek opened #2267 "RC1 Test - profile permission issue"
I am testing for #2264

My test environment:
* RC1 from zikula.org
* one normal user
* profile extension installed
* profile module configured in general settings
* bootstrap theme activated

The user is logged in and opening "my Account". The link to profile is visible. But if the user click it he do not have permissions.

If the admin do the same the admin see the administration page for profile

[2015-02-21 18:49] rallek opened #2268 "new permission is always shown for unregistered"
I am testing for #2264

If I create a new permission (e.g. for ZikulaProfileModule) the group is listed as Unregistered. If I open the modal to change the group it is selected as Users (like I selected while creating the rule) correctly. Saving do not change the list view.

[2015-02-21 18:51] nmpetkov opened #2269 "Allow IDN domain names (Localisation settings)"
This item is not updated if try to change.
Also seems it is not used at all in the site (```idnnames```).

[2015-02-21 18:55] cmfcmf opened #2270 "Not installable with PHP 5.3"
Before anything else, I get:

[2015-02-21 19:03] cmfcmf commented on #2270
Another issue preventing the PHP 5.3 installation: https://github.com/zikula/Wizard/pull/1

[2015-02-21 19:04] cmfcmf commented on #2266
I also didn't have problems with FTP upload.

[2015-02-21 19:18] rallek opened #2271 "Link to extension database is wrong"
I am testing for #2264

In the extesion modul you have the notice with a link to Extension Database. This has the target:
http://go.zikula.org/inappstore

it should show to
http://zikula.org/library/

[2015-02-21 19:27] Portugao commented on #2268
For me the same.

[2015-02-21 19:34] rallek opened #2272 "installation complete email message incomplete and wrong formated"
I am testing for #2264

I got the following mail after a fresh install:
[code]

but the mail is plain text! See the header:
[code]

[2015-02-21 19:38] Portugao commented on #2272
For me too.

[2015-02-21 19:52] craigh commented on #2270
I thought I put checks in for only using that lib if PHP > 5.4

[2015-02-21 19:55] craigh commented on #2267
is this a duplicate of #2268 ?

[2015-02-21 20:00] craigh commented on #2267
This may be a bug with Profile and not core, but should still block RC1

[2015-02-21 20:01] craigh commented on #2270
this is via CLI correct? only?

[2015-02-21 20:06] craigh commented on #2269
@nmpetkov can you look into this? maybe a PR?

[2015-02-21 20:09] craigh commented on #2269
ping @cmfcmf related to #2248 ?

[2015-02-21 20:09] craigh commented on #2268
s this true for all new permissions or only Profile?

[2015-02-21 20:34] nmpetkov commented on #2269
Ok, of course. I searched the code and seems this is not in use.
I'll also check Zikula 1.3 for ideas.

[2015-02-21 21:01] Portugao commented on #2268
For all new permissions.

[2015-02-21 21:32] rallek commented on #2266
ftp-upload is working fine. trouble comes only if I upload the tar.gz and unpack with my ssh-user. Might be we can make a hint in the documentation

[2015-02-21 21:32] #2266 closed

[2015-02-21 21:44] rallek commented on #2267
It looks like a wrong route:
http://rallek.k62.org/profile/admin/view?uid=3

[2015-02-21 21:52] cmfcmf commented on #2270
No, via Web.

[2015-02-21 21:57] craigh commented on #2270
can you provide a full trace?

[2015-02-21 22:00] cmfcmf commented on #2270
No, I can't change php settings at that host.

[2015-02-21 22:12] craigh commented on #2270
see my pending PR. what do you think?

[2015-02-21 22:55] craigh commented on #2270
trace:

[21-Feb-2015 17:54:09 America/Detroit] PHP Stack trace:
[21-Feb-2015 17:54:09 America/Detroit] PHP   1. {main}() /Applications/MAMP/htdocs/core.git/src/index.php:0
[21-Feb-2015 17:54:09 America/Detroit] PHP   2. include() /Applications/MAMP/htdocs/core.git/src/index.php:16
[21-Feb-2015 17:54:09 America/Detroit] PHP   3. Zikula\Bundle\CoreBundle\HttpKernel\ZikulaKernel->boot() /Applications

[2015-02-21 23:02] craigh commented on #2264
-1 :-1: based on #2270 at least.

[2015-02-22 08:42] rallek opened #2274 "prod-log has wrong permission (with PHP5.4)"
I am testing for #2264

The day after installing via ftp I do get the following error. I have uploaded my VerySimpleDownload to Modules and tried to go to administartion.

Fatal error: Uncaught exception 'UnexpectedValueException' with message 'The stream or file "/www/htdocs/w012e56e/rallek.k62.org/Zikula_Core-1.4.0/app/logs/prod.log" could not be opened: failed to open stream: Permission denied'

[2015-02-22 08:47] nmpetkov commented on #2269
Result of check:

1. In Zikula 1.3.9 system setting (```idnnames```). is used at one place:
https://github.com/zikula/core/blob/1.3/src/lib/util/System.php#L214
and uses ```idna_convert.class.php``` to convert emails and urls to 8-bit notation. So, it is used at all.

2. In Zikula also I can't change the state of this setting (!).

3. In Zikula 1.4 the above class is missing, and (```idnnames```)

[2015-02-22 08:53] rallek commented on #2274
After making prod.log 666 (has been 644) I do get the next trouble:

Failed to remove file "/www/htdocs/w012e56e/rallek.k62.org/Zikula_Core-1.4.0/app/cache/prod/classes.map".

This one is 644 as well

changing lasses.map to 666 or 777 do not help. I made the complete folder app/cache/prod 777 (with all sub folders and files). Now the extension list is showing up again.

[2015-02-22 08:59] rallek commented on #2274
How should this work? Which folders need to be 777? Please check this during install as well.

[2015-02-22 09:16] rallek opened #2275 "compilation issue"
I am testing for #2264

After installing my VerySimpleDownload module I am testing around. This module is created by modulesudio 0.6.1.

After a while I noticed the view_quickNav is not showing up (typical function in mosulestudio) and an error message:

Notice: Undefined index: properties in /www/htdocs/w012e56e/rallek.k62.org/Zikula_Core-1.4.0/app/cache/prod/ztemp/view_compiled/VerySimpleDownloa

[2015-02-22 09:23] Guite commented on #2275
Seems to be a template issue in the module.

[2015-02-22 09:24] rallek commented on #2275
any documentation available I can learn how to fix it?

[2015-02-22 09:29] Guite commented on #2275
First attempt would be recreating with 0.6.2 to see whether the error is still there. If yes, regenerate using the webgen to see whether the error is still there. If yes, create a generator ticket.

[2015-02-22 09:29] #2275 closed

[2015-02-22 09:52] rallek commented on #2275
ok. Will go directly to webgen.

[2015-02-22 11:24] #2271 closed

[2015-02-22 11:27] Guite commented on #2272
Can you please retest after applying 82479e89339ed02e7452162ef114fd18944744ed ?

[2015-02-22 11:29] #2264 closed

[2015-02-22 11:29] #2270 closed

[2015-02-22 12:13] rallek commented on #2264
closed? RC2 are following?

[2015-02-22 12:26] craigh commented on #2264
by definition, this ticket closes if bugs are discovered that should prevent a release of the proposed build (448).

Another one will be proposed when the tickets currently associated with 1.4.0 are either closed or moved.

[2015-02-22 12:37] craigh commented on #2269
I wonder if symfony already does anything like this somehow. @cmfcmf

[2015-02-22 12:40] nmpetkov commented on #2269
I edited my previous post to be more clear.

[2015-02-22 12:46] rallek opened #2277 "documentation should contain a hint for to long paths for ftp upload"
I just run into a problem with ftp upload using filezilla.

There have been 21 files which could not be uploaded. Retrying also do not the expected. After some analysing I found out the path of some files are to long. This is in my case the Acme demo bundle (whatever this is). Here one example of one file path:
[code]
When I moved the DemoBundle/... to another place the upload went fine.

We shoul

[2015-02-22 12:46] craigh commented on #2269
http://dunglas.fr/2014/10/internationalized-domain-name-idn-and-php/

[2015-02-22 12:55] craigh commented on #2269
I'm trying to understand what this feature does. It appears that it only validates variables - in other words, if a developer chooses to apply validation to a given variable, this will function on that variable if enabled. Is this correct? If so, then we must identify places in the code where this SHOULD be applied and fix it there as well. I don't think this is a small thing.

But maybe PHP is al

[2015-02-22 12:56] rallek commented on #2272
tested ci build 450. Now it is plain text as it should but still incomplete:

[code]

I expected something after ``Zikula has been successfully installed at``

[2015-02-22 13:02] craigh commented on #2277
the documentation already lists the solution to this problem:

[2015-02-22 13:06] nmpetkov commented on #2269
At the end of the article:
"On the validation side, the Symfony URL validator has built-in IDN support."

[2015-02-22 13:10] nmpetkov commented on #2269
For now I can remove this setting (by commenting the respective code section), and write an issue about further investigation of how to support IDN.

[2015-02-22 13:11] craigh commented on #2269
I would like input from @Guite and @cmfcmf before proceeding

[2015-02-22 13:16] rallek commented on #2277
sorry, I totally disagree! Only very few shared hosting are offering a command line! Most have to upload via ftp (that is my test scenario at the moment).

And if you have access to a comand line you are running into trouble of file ownership as I did.

Please reopen and lable it as documentation. You can assign me and put it to 1.4.1.

[2015-02-22 13:19] Guite commented on #2269
When 1.4 modules use Symfony validators IDN should work out of the box.
For BC the IDN class should imho still be kept though as long as `System::varValidate()` is probably still be used by several modules.

[2015-02-22 13:21] Guite commented on #2277
The problem is probably related to Windows. Windows has a maximum path length of 260 characters.

This is not a Zikula-specific issue though.

[2015-02-22 13:22] Portugao commented on #2277
It is also possible, that this is an issue with fileZilla.
With fire ftp there are no problems with that for me.

[2015-02-22 13:24] rallek commented on #2277
thanks for reopening. I will think about a nice sentence for the documentation.

I just want to avoid support issues

[2015-02-22 13:40] craigh commented on #2269
that sounds good. @nmpetkov if you can reimplement as it is used in 1.3.x and mark all methods as `@deprecated` that should suffice.

[2015-02-22 13:41] craigh commented on #2277
doesn't filezilla have a 'decompress file' command? I think it does.

documentation doesn't avoid support issues.

[2015-02-22 13:52] craigh commented on #2277
unzipping from within filezilla:

http://smallbusiness.chron.com/extract-zip-file-filezilla-57084.html

[2015-02-22 13:55] nmpetkov commented on #2269
oK.
On Mar 27, 2014 it seems Symfony is IDN ready, as seem from this ticket:
https://github.com/symfony/symfony/issues/4930
In PHP from 5.3 exist IDN convert function:
http://php.net/manual/en/function.idn-to-ascii.php)

So, instead of returning to 1.3 ```idna_convert.class.php```, better is to implement this function, applied on domain part of e-mails and urls.

[2015-02-22 15:40] rallek commented on #2277
unzipping at the server is not possible. You can open a compressed file via ftp locally with this trick

[2015-02-22 15:57] rallek commented on #2277
proposal is given in 78c5ef2

Mark checked my english ;-)

[2015-02-22 19:04] craigh commented on #2277
apparently I was wrong. Sorry.

I must be thinking of cpanel or other FTP clients I used to use.

I'm still unsure about if the additional documentation will help or not.

[2015-02-22 19:35] #2268 closed

[2015-02-22 19:38] craigh opened #2280 "release Profile and Legal modules"
a release of these modules should be finalized before Core 1.4.0-RC2 and version numbers in each should be corrected.

[2015-02-22 19:45] #2267 closed

[2015-02-22 20:03] #2272 closed

[2015-02-23 03:41] shefik opened #2281 "Language of the translation isn't set"
When opening the zikula.pot file, Poedit displays the error:

"Language of the translation isn't set."

[2015-02-23 03:48] shefik commented on #2191
@craigh Since you changed the milestone for this particular ticket to 1.4.1, I assume that means translations for the installer of Zikula 1.4.0 are not included in that release at all?

[2015-02-23 04:12] shefik opened #2283 "Installer - Alignment of Form Label"
When at a smaller break-point, the labels for the installer form should be left-align, instead of centered.

Zikula 1.4.0 build 452

![form-label](https://cloud.githubusercontent.com/assets/274862/6322693/3b04e880-bae8-11e4-9618-63d93336cd5d.png)

[2015-02-23 04:26] shefik opened #2284 "Fatal error: Call to a member function rowCount()"
If you submit the Installer form without filling out the form, it throws the following error:

"Fatal error: Call to a member function rowCount() on boolean in /lib/Zikula/Bundle/CoreInstallerBundle/Validator/CoreInstallerValidator.php on line 35"

Zikula 1.4.0 build 452

[2015-02-23 04:50] shefik opened #2287 "Remove Support for IE7"
Is it really necessary to still support IE7?

For example, the installer is loading this IE7 file:

Zikula 1.4.0 build 452

[2015-02-23 05:04] shefik commented on #2284
The error occurs when you select "MySQL", but not when you select "PostgreSQL".

[2015-02-23 06:02] shefik opened #2288 "Installer Creates the Unnecessary 'personal_config.php'"
Why does the installer create the file "/config/personal_config.php", which just unnecessarily duplicates the content of "/config/config.php"?

Zikula 1.4.0 build 452

[2015-02-23 06:07] shefik opened #2289 "Installer Form - Create administrator's account - Label Width"
At a small break-point, the width of the label at the installer form "Create administrator's account" is too small. It should take 100% width, like the form field does at that particular break-point.

The Bootstrap classes used for this particular form need to be modified accordingly.

![form-classes](https://cloud.githubusercontent.com/assets/274862/6323448/3e2f592c-baf8-11e4-8f6b-9f540302d0df.pn

[2015-02-23 06:10] shefik opened #2290 "Installer Form - Installing Modules and Helpers - List"
At smaller break-points, the list of modules and helpers should possibly be display one-per-line. Otherwise, the items within the list overlap with an incorrect layout.

Zikula 1.4.0 build 452

![form-modules](https://cloud.githubusercontent.com/assets/274862/6323473/c8393fe8-baf8-11e4-8cb0-c818755c0aab.png)

[2015-02-23 07:22] shefik opened #2291 "'UserUtil::getTheme() is unable to calculate theme name"
The installer fails with the following error message:

Fatal error: Uncaught exception 'RuntimeException' with message 'UserUtil::getTheme() is unable to calculate theme name.' in /lib/util/UserUtil.php on line 1949

Zikula 1.4.0 build 452

[2015-02-23 10:14] porzellankompass opened #2292 "Trying to edit the root-category"
Trying to edit the root category gets me this:

Warning: Smarty error: Error! in category_path: the id parameter must be specified. in D:\wamp\www\Zikula_Core-1.4.0\vendor\drak\smarty\Smarty\Smarty.class.php on line 1094
Call Stack
#	Time	Memory	Function	Location
1	0.0000	140312	{main}( )	..\index.php:0
2	3.4164	19109464	Symfony\Component\HttpKernel\Kernel->handle( )	..\index.php:25
3	3.4320	19264

[2015-02-23 11:13] craigh commented on #2191
right. this is quite complicated actually.

[2015-02-23 11:16] craigh commented on #2284
which? there are 4

[2015-02-23 11:19] craigh commented on #2287
what file?

[2015-02-23 11:22] craigh commented on #2288
this is by design. It leaves the original files untouched on purpose.

[2015-02-23 11:22] #2288 closed

[2015-02-23 11:22] craigh commented on #2289
who would be installing zikula from a phone? honestly. does this really matter?

[2015-02-23 11:25] craigh commented on #2291
always?

more information is required.

[2015-02-23 11:42] craigh commented on #2292
should the root category be editable?

[2015-02-23 11:47] cmfcmf commented on #2284
@craigh See the error message: `CoreInstallerValidator.php line 35`.

[2015-02-23 11:49] Portugao commented on #2292
No, i don't think so.

[2015-02-23 11:53] cmfcmf commented on #2281
I don't think you should open the `.pot` file but rather create a `.po` file and then import the strings from the `.pot` file.

[2015-02-23 12:20] craigh commented on #2284
@shefik what is the state of the database when you receive this error? Did it have tables?

[2015-02-23 12:37] craigh commented on #2284
http://stackoverflow.com/questions/1451720/equivalent-of-mysql-list-tables-in-php-pdo

this discussion seems to indicate that doing cross-platform database connection validation is quite difficult until we can use Doctrine which isn't available at this point.

[2015-02-23 13:07] #2292 closed

[2015-02-23 16:00] craigh commented on #2280
this probably includes building POT files for each before release.

[2015-02-23 17:02] craigh commented on #2283
I pushed a different (untested) solution. how about that?

[2015-02-23 19:31] rallek commented on #2274
strange behavior. Yesterday I have setup my test site again and was able to use it with the original settings.

Today (a day later) I have the same failure again :-(

I have to change the permissions again. I do not know why...

I might be wrong, but if I remember right yesterday the prod.log was owned by the php-User, today the file is owned by the ftp-User. Is this possible?

[2015-02-23 19:48] rallek commented on #2274
It seems to be an PHP issue! If I use PHP5.5 (in CGI Mode) the site is running again!

[2015-02-25 08:48] FRWo commented on #2287
In my opinion the support for IE7 could end. Still my (administration-)company has switched to IE 9...

[2015-02-25 08:53] shefik commented on #2287
The IE7 file is for font-awesome.

[2015-02-25 11:11] espaan commented on #2287
It would be good to have it as an option for people to switch on for hte front-end if needed. Of course for the backend no need to do anything on the older browsers.

[2015-02-25 11:19] espaan opened #2293 "[1.4] Frontpage setting does not work with arguments set"
when Content is used as frontpage module with a certain page set it gives a 404 error.
You set
type: user
func: view
parameter: pid=1 for instance
This works fine in current 1.3.x, but has issues in 1.4.x.

See also https://github.com/zikula-modules/Content/issues/160

The type and func seem to pass perfectly to Content, but the argument pid=1 is not passed.
This seems to come from this line
https

[2015-02-25 11:32] craigh commented on #2287
WHAT FILE?

[2015-02-25 11:33] craigh commented on #2293
ping @cmfcmf

[2015-02-25 14:33] nmpetkov opened #2294 "Error editing newly created user groups"
How to reproduce:
1. Go to Groups in Admin panel of the site.
2. Create a new group.
3. Try to edit it. I receive an error:
[code]
On the address bar of the browser:
http://xyz.com/groups/admin/modify/6

[Zikula 1.4.0 dev last from Github]

For pre-installed groups all is OK.

[2015-02-25 15:31] craigh commented on #2294
if you switch custom_parameters.yml `env=dev` you will get a longer trace

[2015-02-25 15:58] rallek commented on #2260
To have this labeled for Milestone 2.0.0 makes the 1.4 branch useless for me :-(

I can not accept english sentences on a total german page.

[2015-02-25 16:02] Guite commented on #2260
@rallek : afaik the only place where Twig is currently used is the installer/upgrader. So it won't affect your actual site.

[2015-02-25 16:04] rallek commented on #2260
ok. I did not know this. Than I am fine with 2.0.0. Sorry for claiming

[2015-02-25 16:23] cmfcmf commented on #2293
There is something wrong in several places with the `ModUtil::getModule()` function. I cannot look at it until the weekend though.

[2015-02-25 20:09] nmpetkov commented on #2294
Obtained he reason, please check this line:
https://github.com/zikula/core/blob/1.4/src/system/Zikula/Module/GroupsModule/Api/UserApi.php#L136

[2015-02-25 20:41] craigh commented on #2294
closed by #2295

[2015-02-25 20:41] #2294 closed

[2015-02-25 21:39] nmpetkov opened #2296 "Menu item is rotating after adding a permission rule"
This is really funy, but not wanted behavior. This happens to me in Chrome (not in Firefox or IE).
See picture:
![image](https://cloud.githubusercontent.com/assets/628801/6381112/60039b8e-bd47-11e4-9411-53e1900b3c6c.png)
Sorry if this happens to me only :-(

[2015-02-25 22:11] nmpetkov opened #2297 "It is not possible to edit or delete a permission rule"
This is related to ajax connection, error hidden behind it, by in my case doesn't work.
All browsers.

[2015-02-25 22:12] craigh commented on #2297
it worked for me a couple days ago.

[2015-02-25 22:16] nmpetkov commented on #2297
BTW reordering of rules also doesn't work. It is not saved (visually happens, but not in database).

[2015-02-26 03:06] shefik commented on #2283
@craigh I tested your solution. Looks fine to me. I'm closing this particular ticket I opened, and removing its pull request, since it's no longer needed.

[2015-02-26 03:06] #2283 closed

[2015-02-26 03:09] shefik commented on #2291
@craigh Yes, the problem always occurs for me.

[2015-02-26 03:12] shefik commented on #2289
@craigh The break-point illustrated via the screen shot is not on a phone. And, I agree, installation of Zikula shouldn't occur on a mobile device. However, I am using a laptop, and the width of the "container" is only 840px in the screen shot. So, I think this problem is valid.

[2015-02-26 03:14] shefik commented on #2287
@craigh You can see the file being referenced in the <head> of the installation pages:

[2015-02-26 03:21] shefik commented on #2287
Also, the installer pages are referencing this CSS file that is apparently about 6 years old!

That particular file has very old CSS declarations that are no longer needed at all, such as declarations for IE on Mac, IE 6/7 on Windows, and so on.

[code]

[2015-02-26 03:27] shefik commented on #2284
@craigh Yes, the database was completely empty. Try submitting the form, without entering any values, and the error will occur. Perhaps more form validation can help?

[2015-02-26 03:30] shefik commented on #2291
Look like the problem might be due to this not being set via the installer:

[code]

As a result, /lib/util/UserUtil.php on line 1949 throws an exception because it doesn't know that it's installing.

[2015-02-26 03:50] shefik opened #2298 "There was an error finalizing the parameters"
The installer is throwing this error during the AJAX installation process:

"There was an error finalizing the parameters"

Zikula 1.4.0 build 456

[2015-02-26 04:54] shefik commented on #2291
During installation, when it gets to the route /install/complete, the "themes" table is still empty.

[2015-02-26 05:00] shefik commented on #2291
I think this issue is related:

https://github.com/zikula/core/issues/2298

Since the parameters fail during installation, the themes are not regenerated, leaving the table empty.

[2015-02-26 05:39] shefik commented on #2298
I'm closing this issue. As it turns out, the problem wasn't with the installer itself. Rather, a third-party theme had an invalid structure. Since the installer is using AJAX, it didn't return the theme's error, so further debugging was needed to trace the actual cause of "error finalizing the parameters".

[2015-02-26 05:39] #2298 closed

[2015-02-26 05:41] shefik commented on #2291
I'm closing this issue, for the reason I posted here:

https://github.com/zikula/core/issues/2298

Installation is successful for me now.

[2015-02-26 05:41] #2291 closed

[2015-02-26 09:29] cmfcmf commented on #2296
Ha. Ha. :D
N. Petkov <notifications@github.com> schrieb am Mi., 25. Feb. 2015 um 22:39:

[2015-02-26 10:52] craigh commented on #2296
what build are you using (or github)? I remember fixing this once.

[2015-02-26 10:55] nmpetkov commented on #2296
Last from Github

[2015-02-26 10:59] craigh commented on #2297
deleting works for me in chrome and safari.

[2015-02-26 11:08] nmpetkov commented on #2297
I checked again in 3 browsers (Chrome, IE, Firefox), and can't delete, reorder, or edit. After Ctrl+F5 to reload java scripts.
I'll check again in new install soon.

[2015-02-26 16:59] nmpetkov commented on #2297
After installing from the ground build 456 I'm able to edit, reorder and delete, so I'm closing this issue.

[2015-02-26 16:59] #2297 closed

[2015-02-26 17:01] #2269 closed

[2015-02-26 18:29] nmpetkov opened #2299 "Error loading SeaBreeze theme"
An error occurs if from theme list page attempt to view SeaBreeze theme.

I'd suggest to completely remove from Zikula core. Otherwise needs repairing.

[2015-02-26 18:30] rojblake commented on #2296
I've seen this too using a recent git pull.

-Mark

[2015-02-26 19:16] craigh commented on #2296
I say we leave it as a "feature"

[2015-02-26 20:51] craigh commented on #2299
I don't think it should be removed. I think it should be fixed.

[2015-02-26 20:53] craigh commented on #2281
is this invalid then?

[2015-02-26 20:54] craigh commented on #2284
the problem is that the validations are occurring in the wrong order apparently. There is already validation for NonNull values

[2015-02-26 22:07] Portugao commented on #2299
The error is:
``
`Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.

zikula_view.template_override returned a non-existent template path themes/SeaBreezeTheme/Resources/views/modules/ZikulaBlocksModule/Block/Extmenu/t

[2015-02-26 23:05] craigh commented on #2277
closed by #2278

[2015-02-26 23:05] #2277 closed

[2015-02-27 14:26] Kaik opened #2301 "New user skip veryfication Error! You are already a member of this group."
I'm trying to approve user from admin interface using skip verification option and this error occurs

in system/Zikula/Module/GroupsModule/Api/UserApi.php at line 669   -
                return false;
            }
            throw new \RuntimeException($this->__('Error! You are already a member of this group.'));
        }
        // Let the calling process know that we have finished successfull

[2015-02-28 00:18] shefik opened #2302 "When installing a module that has a dependency, the "reason" is not populated"
When installing a module that has a dependency, if the "reason" is populated in the module's meta data array, It doesn't output on the form:

/extensions/modules/initialize

![reason](https://cloud.githubusercontent.com/assets/274862/6423527/7973e122-beb5-11e4-9561-ec59713fa57f.png)

[2015-02-28 01:00] shefik commented on #2302
The problem is due to "ModUtil::getModule()" not populating correctly. As a result, "getReason()" in

/lib/Zikula/Core/Doctrine/Entity/ExtensionDependencyEntity.php

is returning an empty string for "reason"

[2015-02-28 01:18] shefik commented on #2302
Zikula\Bundle\CoreBundle\HttpKernel\ZikulaKernel->getModule( )

seems to only work on extensions located in /system, and not in /modules

[2015-02-28 07:24] cmfcmf commented on #2302
This is expected behaviour. The reason field only works with the new
namespaces module structure.
Shefik <notifications@github.com> schrieb am Sa., 28. Feb. 2015 um 02:18:

[2015-02-28 16:11] shefik commented on #2302
@cmfcmf What new namespaces module structure are you referring to? The screenshot I posted is from a module coded with PRS-4. It's dependency is the Legal module which is not displaying its "reason". Furthermore, I tested again the behavior of getModule(). It is only working for modules that are already installed. So, if you are trying to install a new module, the "reason" always remain blank beca

[2015-03-01 04:11] shefik opened #2303 "Warning: array_key_exists(): The first argument should be either a string or an integer"
If you get the instance of Zikula View as follows:

[code]

or

[code]

And, if there is no module name for the function to obtain via ModUtil::getName() or $view->toplevelmodule, then this error is thrown:

[code]

There needs to be a better fallback, to avoid this error. Perhaps default to an internal Zikula identifier, or throw an exception instead, if a module name always required?

Feedback r

[2015-03-01 05:01] shefik commented on #2303
Would this be valid to use as a default?

ModUtil:CONFIG_MODULE (equal to "ZConfig").

[2015-03-02 00:28] shefik opened #2305 "Incorrect License at Installer?"
Isn't Zikula licensed under "GNU Lesser General Public License"?

http://www.gnu.org/licenses/lgpl.html

The installer just says "GPL license"

[2015-03-02 01:04] shefik opened #2306 "Sample Code Requested for "config/EventHandlers""
Can someone provide sample code for adding a custom event handler to this directory:

[code]

My attempt fails with the following error:

[code]

[2015-03-02 01:33] shefik commented on #2306
I found sample code here:

http://zikula.org/forums/topic/59289

[2015-03-02 01:33] #2306 closed

[2015-03-02 19:43] rallek commented on #2270
see also #2274

[2015-03-02 19:48] rallek commented on #2301
I did not found any way to create a new user by admin

[2015-03-03 17:22] cmfcmf commented on #2305
This is a duplicate of https://github.com/zikula/core/issues/1028, if I'm correct.

[2015-03-03 22:49] nmpetkov opened #2309 "Admin theme setting is not working"
To reproduce:
1. Go to Theme, Settings, and set "Andreas08" as Admin theme.
2. Set as default for the site SeaBreeze theme.
3. In admin panel you will see SeaBreeze layout, instead Andreas08, as shown in the picture below.

This works as expected in Zikula 1.3.

![image](https://cloud.githubusercontent.com/assets/628801/6474251/f309e1f8-c207-11e4-9e13-25283226ea90.png)

[2015-03-04 12:10] Guite commented on #2299
Fixed by #2308 , thanks @nmpetkov

[2015-03-04 12:10] #2299 closed

[2015-03-04 12:13] Guite commented on #2305
Maybe postpone this one to 2.0.0 instead of closing it?

[2015-03-04 17:00] Guite commented on #2284
@shefik can you please retest with #2310 ?

[2015-03-04 21:26] #2296 closed

[2015-03-04 21:27] craigh commented on #2281
ping @shefik @cmfcmf

[2015-03-04 21:56] craigh commented on #2303
can you please provide the use-case where you might call `getInstance` and not have a module set? How did you run into this error?

[2015-03-04 21:56] nmpetkov commented on #2296
Works, thanks!

[2015-03-04 22:12] craigh commented on #2302
This is not true. It works for modules that are namespaced but not the Pear_Class_Name modules. For example, News would not be included, but Legal should be.

Which module are you trying to use?

[2015-03-04 22:22] #2309 closed

[2015-03-04 22:22] craigh commented on #2309
ping @cmfcmf thoughts on my solution?

[2015-03-04 23:31] nmpetkov commented on #2309
It works now for me, thanks.

[2015-03-05 02:01] craigh commented on #2305
where?

[2015-03-05 02:58] shefik commented on #2305
@craigh It says "Zikula is free software released under the GPL license!" in this Twig template:

ZikulaCoreInstallerBundle:Install:notinstalled.html.twig

[2015-03-05 03:09] shefik commented on #2303
@craigh If I had a custom file, such as example.php, and I need to boot Zikula in that file as such:

[code]

I just need a default value to insert instead of a module name, because I want to be able to reference a plugin as such:

[code]

At the end of the script, I will echo the output:

[code]

In this scenario, I am not accessing Zikula normally via index.php, since I don't want to load the th

[2015-03-05 03:13] shefik commented on #2302
@craigh It is a third-party module. Nevertheless, it is not working. The screenshot is from a module coded as psr-4, and its dependency is ZikulaLegalModule. You can see in the screenshot the "reason" is empty.

[2015-03-05 03:16] shefik commented on #2281
Creating the .po file works fine. But, shouldn't .pot file have the language set anyway? Poedit is saying that the language isn't set.

[2015-03-05 03:31] shefik opened #2313 "Duplicate Routes"
When you reload routes, duplicates appear here:

[code]

such as duplicates of:

[code]

Many routes appear as duplicates

[2015-03-05 04:25] shefik opened #2314 "'AccessDeniedException' Redirects to Homepage"
Anytime I use:

[code]

It just redirects to the homepage, instead of actually throwing an exception at the desired page. I don't think it should redirect, especially if a site doesn't have any alert message on the homepage. Typically alert messages are inserted on module pages instead.

[2015-03-05 04:51] shefik opened #2315 "Do not display module name in short URLs"
When I select a module under the options for:

[code]

/settings/admin/config

It does not appear to be working. The module name is still required in the route.

[2015-03-05 04:52] shefik commented on #2315
It only appears to be working for the "main" function:

old:

/example/main

new

/main

But, other functions still require the module name in the route:

/example/route2

[2015-03-05 10:08] craigh commented on #2302
Why is the module a secret? why can't I know the module and then test this for myself?

[2015-03-05 10:09] craigh commented on #2313
ping @cmfcmf

[2015-03-05 10:11] craigh commented on #2314
In `prod` mode all exceptions are caught and an error should be displayed. Are you in `prod` or `dev`?

I think this is the expected behavior.

[2015-03-05 10:36] cmfcmf commented on #2302
@shefik Please try to delete the content of the `app/cache` folder before installing the module.

[2015-03-05 20:19] nmpetkov commented on #777
Fixed in #2316

[2015-03-05 21:31] craigh commented on #2315
which module are you attempting to use?

this method only works with "old" short-urls. it doesn't (*and won't) work with the new routes.

[2015-03-05 22:40] nmpetkov opened #2320 "Error when changing language"
To reproduce:
1. Install 2 languages in the site.
2. Activate Language block.
3. Switch to non-default language.

On the address bar of the browser appere:
http://xyz.com/en
(in this case en is non-default language)

Here is image with the error:

![image](https://cloud.githubusercontent.com/assets/628801/6516297/665f39a4-c399-11e4-8ed8-c33c71fd21cd.png)

[2015-03-05 22:46] craigh opened #2321 "Confirm registration validation is working properly"
#1805 was closed without merging
#1804 removed all the old prototype files and didn't replace any code.
https://github.com/zikula/core/commit/2da396f15a64e745b94fb0826bec687becfd9b0d removed same from admin side since all the files were gone anyway

it is unknown if any JS validation is occurring before a user is created.

has anyone replaced the old js validation?

@phaidon @shefik @jusuff @Guite

[2015-03-05 22:52] craigh commented on #2314
also, `debug` must be set to `true` to see full exceptions.

[2015-03-06 00:00] #2301 closed

[2015-03-06 00:07] craigh commented on #2320
to get the full exception trace, please change the `custom_parameters.yml` values:

[code]

[2015-03-06 00:08] craigh commented on #2320
ping @cmfcmf

[2015-03-06 02:43] craigh commented on #2303
I'm not sure using a second front controller is supported. I'm not sure how symfony works with that. Additionally, a module is probably always required. I guess you could look and see what happens in the core when an instance is created for the theme (`Zikula_View_Theme`) but not sure.

[2015-03-06 06:50] Guite commented on #777
Fixed by #2316

[2015-03-06 06:50] #777 closed

[2015-03-06 06:51] Guite commented on #519
Multilingual support has been added in #2316 as a first step.

[2015-03-06 06:55] Guite commented on #2284
Fixed by #2310. @shefik please reopen in case you still experience problems.

[2015-03-06 06:55] #2284 closed

[2015-03-06 06:57] Guite commented on #2315
@cmfcmf do you agree?

If it isn't planned to support this setting with routes maybe we should add a form note explaining that.

[2015-03-06 07:49] nmpetkov commented on #2320
I can provide full trace.
The problem is related to routes, as I guess.

[2015-03-06 08:04] #2293 closed

[2015-03-06 08:07] espaan commented on #2293
@Guite did you test the frontpage display with Content ?

[2015-03-06 08:15] Guite commented on #2293
@espaan no, I only reviewed the code change. Feel free to try it out :-)

[2015-03-06 10:14] craigh commented on #2293
I tested it and it worked for me.

[2015-03-06 16:29] Guite commented on #2313
Just an idea, but it could be the right direction:

Please see https://github.com/Guite/core/commit/805a4e9eb177d7e96208149f61666ae823e4cb74 - specifically the first change in the second file.
I suspect that the workflow helper can not be used within an explicite transaction, because it calls the core's workflow util class which does a `flush` anyway.

[2015-03-06 16:34] #2303 closed

[2015-03-06 16:35] Guite commented on #2303
Fixed in 38008da12c76605cff05eb0fc7f36671f630cefd

[2015-03-06 16:36] Guite commented on #2303
@craigh while this is indeed not a "supported" use case in a way that we invest much effort into providing convenience, the core should still not fail with an error; so introducing a fallback seems fine here. At the end it is not really important because this is a rare usecase and Smarty is going to disappear in future.

[2015-03-06 16:37] Guite commented on #2314
@shefik can you please elaborate?

[2015-03-06 17:00] Guite commented on #2320
@nmpetkov: please do so (stack trace)
@cmfcmf: any idea which class should handle this / where to look at?

[2015-03-06 17:07] nmpetkov commented on #2320
[code]

[2015-03-06 17:35] Guite commented on #2320
Proposal:

in https://github.com/zikula/core/blob/1.4/src/lib/Zikula/Bundle/CoreBundle/EventListener/LegacyRouteListener.php#L76

replace
[code]

by
[code]

Please review.

[2015-03-06 20:45] craigh commented on #2281
@Guite do you know how this is supposed to work. I've never used Poedit and I never use translations.

[2015-03-06 20:50] rallek commented on #2281
I know as well :-)

After Poedit is installed you create a new translation file (e.g. zikula.po). Than you import the pot file, translate and save. While saving the .po and .mo files are stored.

Later when you want to update you translation you open your old .po file and update it by importing the pot again.

poedit is delivering a lot of translation proposals. And poedit is also learning from tr

[2015-03-06 20:53] rallek commented on #2281
@shefik: the pot-file do not have a language. The pot-file are only the untranslated strings.

[2015-03-06 20:54] craigh commented on #2281
so if I understand you correctly, this ticket is invalid because the POT file shouldn't have a language set.

[2015-03-06 20:54] #2281 closed

[2015-03-06 20:57] shefik commented on #2281
@rallek Thanks for clarifying. Should this info be added to the README file?

[2015-03-06 20:58] craigh commented on #2281
@rallek would you please create a wiki page at the core project and detail these steps? I don't think it should be in the main README file.

[2015-03-06 21:11] rallek commented on #2281
will do, but a native speaker should have a look at it later ;-)

[2015-03-06 21:19] nmpetkov commented on #2281
As here Poedit is commented, it is worth to know, that pro version propose translations from Internet.
I recently payed for pro, and I'm really happy to save time (actually you share, and use shared translations, also they serve google service I think)!
Sorry if this is off-topic.

[2015-03-06 21:20] rallek commented on #2281
also the free version is giving translation proposals.

[2015-03-06 21:21] nmpetkov commented on #2281
yes, but from your "database" only :-)

[2015-03-06 21:22] rallek commented on #2281
ups, you are right. I have also the pro version :-)

[2015-03-06 21:46] rallek commented on #2281
quick and dirty done. Please have a look at it.
https://github.com/zikula/core/wiki/Translating
I am not as good as native english speakers in writing english documentation

[2015-03-06 21:48] craigh commented on #2281
thanks Ralf. I'll review the language

[2015-03-06 22:06] craigh commented on #2281
reviewed: https://github.com/zikula/core/wiki/Translating/_compare/f332345^...f332345

[2015-03-06 22:32] craigh commented on #2321
I checked on this a little. I found that PHP also validates the data so there appears to be no danger of double-registering the same username (for example) or other possible data-corruption.

The old `getRegistrationErrorsAction` method still exists in the ajax controller and could be used if needed. but nothing calls it at the moment.

@jusuff did you say you can look into re-activating ajax vali

[2015-03-06 22:38] craigh commented on #2320
I would wait for @cmfcmf on this. I think symfony routes are supposed to account for language more gracefully. Christian said he would look into some tickets in a couple days.

[2015-03-07 00:18] shefik commented on #2321
Just add Webshim for the HTML5 validation, as a polyfill for browser support.

[2015-03-07 00:42] craigh commented on #2321
I don't know anything about those technologies. A PR would be welcome!

[2015-03-07 07:42] Guite commented on #2321
@shefik this is not about simple checks like mandatory fields. This issue is about extended validation, like username may not be already used, password must not be equal username, email address may not be already used, and so on.

[2015-03-07 07:48] shefik commented on #2321
@Guite Webshim is still needed for browsers such as Safari on Mac, to add support for attributes such as "required". As an example, the attribute "required" works correctly on Chrome on Mac, and form does not submit via HTML5 validation.

https://github.com/aFarkas/webshim

[2015-03-07 08:45] shefik opened #2325 "Fatal error: Class 'Zikula\Bundle\CoreInstallerBundle\Validator\PDO' not found"
Zikula 1.4.0 build 473 is now throwing this error during installation, after you submit the form at /install/locale:

[code]

[2015-03-07 08:55] #2325 closed

[2015-03-07 12:51] rallek opened #2329 "Most 0.6.2 Module gives error after installing"
I am not shure wher to report. But I think the BC to old modules are a problem in the core.

I just created a module in modulestudio with an n-to-1 relation for zk136.

Install went fine (after increasing the core max in Version.php). Opening the fresh installed module gives a 500 error with the message:
``No ids given, cannot create where in query in this case.``

No idea what to do. Thansfer to

[2015-03-07 12:58] Guite commented on #2329
Sure this is a core problem? I would think this is a problem which has been in the MOST 0.6.2 release instead.

[2015-03-07 13:00] rallek commented on #2329
not shure. how can I validate?

[2015-03-07 13:05] Guite commented on #2329
By debugging. But I bet for 99% this is not a core problem.

[2015-03-07 13:29] rallek commented on #2329
Just checked with a fresh 1.3.10dev install. Here everything went fine. I bet it is a BC problem!

[2015-03-07 13:59] shefik opened #2330 "Correcting System Vars"
With the recent multilingual changes to system vars, there are still core files which call to the old methods. For example:

/lib/util/PageUtil.php, Line 215:
System::getVar('pagetitle', '')

/lib/util/PageUtil.php, Line 218:
System::getVar('sitename', '')

The entire core should be checked, and updated to the new multilingual vars. Several files (outside of the Settings module) need to be updated

[2015-03-07 14:01] craigh commented on #2330
ping @nmpetkov

[2015-03-07 14:03] shefik commented on #2330
Particularly check these files:

/lib/legacy/Zikula/Core.php
/lib/util/ModUtil.php
/lib/util/PageUtil.php
/system/Zikula/Module/SettingsModule/Controller/AdminController.php

There might be others to check too.

[2015-03-07 14:04] Guite commented on #2329
Please post the complete stack trace after having set your environment to `dev` and `debug=true` in `app/config/parameters.yml`.

[2015-03-07 14:06] nmpetkov commented on #2330
It is desired.
The idea of multilingual support is this to leave, and all templates to remain compatible.
Multilingual effect is because this variables are set to respective variables for respective current page language.

[2015-03-07 14:08] craigh commented on #2330
@nmpetkov you are saying this should not be changed? I'm struggling a little with your English today :smile:

[2015-03-07 14:09] nmpetkov commented on #2330
Please see how this is implemented here: #2316.

[2015-03-07 14:10] nmpetkov commented on #2330
Sorry. Please test multilingual support.

[2015-03-07 14:12] nmpetkov commented on #2330
To test:
Get last changes for this PR.
2. Upgrade Settings module.
Then enter Settings admin page, and enter different strings for different languages.
Then see if this takes effect on the first page of the site.

[2015-03-07 14:20] craigh commented on #2330
@nmpetkov when I did this, I had an exception about the `sitename` not being set. A few reloads fixed it but this is not a desired behavior.

[2015-03-07 14:28] nmpetkov commented on #2330
@craigh It is possible to happen only if the Settings module is not upgraded yet, but system is unctional As this is a real condition, I'll make a PR to correct this.

[2015-03-07 14:29] shefik commented on #2330
@nmpetkov With the new version of the Settings module, the old vars have been removed:

System::delVar('sitename');
System::delVar('slogan');
System::delVar('metakeywords');
System::delVar('defaultpagetitle');
System::delVar('defaultmetadescription');

There are still core files which call to those old vars. So, those core files need to be updated to the new var names. So, it's not just an issue w

[2015-03-07 14:31] nmpetkov commented on #2330
@shefik If you see how this is implemented, then will realize, that they are deleted, but are initialized when language is set.

[2015-03-07 14:32] craigh commented on #2330
@shefik those values are added back in a [setup function](https://github.com/zikula/core/blob/1.4/src/lib/util/ModUtil.php#L140-L154)

so that should work ok

[2015-03-07 14:33] nmpetkov commented on #2330
Now I'm preparing a PR to make upgrade process more robust, thanks for testing.

[2015-03-07 14:33] craigh commented on #2330
so, that being said.... @shefik - did you actually experience a problem/exception somewhere which prompted you to open this ticket?

[2015-03-07 14:41] shefik commented on #2330
Is this something like this still valid?

[code]

Or, does it always need to have the language now?

[code]

[2015-03-07 14:44] nmpetkov commented on #2330
``` System::setVar('sitename') ``` have to be always available, and ``` System::setVar('sitename_en') ``` is used only to init ``` System::setVar('sitename')  ``` when page language is set.

[2015-03-07 14:46] craigh commented on #2330
was this after the upgrade of the settings module?

[2015-03-07 14:53] shefik commented on #2330
New install of Zikula.

[2015-03-07 15:03] #2330 closed

[2015-03-07 15:20] rallek commented on #2329
I have to change ``custom_parameters.yml`` :-)

here the output:

Stack Trace

    in vendor/beberlei/DoctrineExtensions/lib/DoctrineExtensions/Paginate/Paginate.php at line 98  -
            {
                // don't do this for an empty id array
                if (count($ids) == 0) {
                    throw new \RuntimeException("No ids given, cannot create where in query in this case.");

[2015-03-07 15:26] Guite commented on #2329
This is a known BC break, read more about this here: https://github.com/zikula/core/blob/1.4/src/docs/en/dev/UPGRADE-1.4.0.md#paginate-doctrine-extensions
To solve this you need to regenerate your module for 1.4.

[2015-03-07 15:26] #2329 closed

[2015-03-07 15:28] rallek commented on #2329
This means a lot of MOST modules will not rund under 1.4.0?

This should be known by the module authors and documented in their docu

[2015-03-07 15:36] Guite commented on #2329
All MOST modules for 1.3.x are generated with a `max core version of 1.3.99`.
So they won't be compatible with 1.4.0.
To make them work with 1.4 module authors need to release an updated version for 1.4 which of course involves regenerating.

[2015-03-07 15:40] rallek commented on #2329
But the message of 1.4 is different: Mainly all 1.3. modules should be able to work on 1.4. Or I am wrong?

[2015-03-07 15:45] Guite commented on #2329
Yes, but 1.4 can't anything do about the 1.3.x generator using a discouraged feature (that is, the old paginator extension).

[2015-03-07 15:47] rallek commented on #2329
Might be we can generate some docu how an unexperienced author like me can make his module work on both (1.3 and 1.4)

[2015-03-07 15:49] Guite commented on #2274
This is an environment issue. Different ways of running PHP cause different permissions and file ownerships.

http://forum.symfony-project.org/viewtopic.php?f=23&t=76022
http://symfony.com/doc/current/book/installation.html#book-installation-permissions
http://stackoverflow.com/questions/18496584/symfony-2-server-deploy-fatal-error-it-tries-to-open-localhost-file

Closing as `not core`.

[2015-03-07 15:49] #2274 closed

[2015-03-07 15:51] Guite commented on #2329
There only very few differences between 1.3 and 1.4 implementation:

https://github.com/Guite/MostGenerator/blob/master/org.zikula.modulestudio.generator/src/org/zikula/modulestudio/generator/cartridges/zclassic/models/Repository.xtend#L203

https://github.com/Guite/MostGenerator/blob/master/org.zikula.modulestudio.generator/src/org/zikula/modulestudio/generator/cartridges/zclassic/models/Reposito

[2015-03-07 16:03] craigh commented on #2329
my impression is that you cannot have one module version work in both core versions for MOST modules (other non-MOST modules could be customized to do so, or not utilize components that are incompatible). MOST authors will be required to maintain two different versions of their module in order to have versions that work in both Core versions.

[2015-03-07 16:04] craigh commented on #2329
This is not allowed with generated modules.

[2015-03-07 16:05] rallek commented on #2329
you are right. I learned that today :-)

[2015-03-07 16:10] rallek commented on #2329
I have now corrected my expectation. I thought, all 1.3.6 and later MOST modules should run under 1.4 as well. But this is not true I learned. It is a pitty but that is live.

Thanks to your patience.

[2015-03-07 16:36] craigh commented on #2315
more than that, the Namespaced modules should be removed from the select box.

[2015-03-07 23:04] craigh commented on #2320
possibly refs #1985

[2015-03-08 07:24] shefik commented on #1818
I'm closing this ticket. Doesn't seem to be an issue anymore, when using the latest 1Password version 5.1.

[2015-03-08 07:24] #1818 closed

[2015-03-08 07:29] shefik opened #2332 "There was an error installing the module Settings"
The installer is now throwing this error during installation:

[code]

[2015-03-08 07:37] Guite commented on #2332
ping @nmpetkov

[2015-03-08 07:44] nmpetkov commented on #2332
@shefik Is this in new install? And files from where?

[2015-03-08 07:47] shefik commented on #2332
New install. Files from ci.zikula.org.

[2015-03-08 07:49] nmpetkov commented on #2332
Please wait for new build, it is old now. I'll also test after see there is new build.

[2015-03-08 07:51] shefik commented on #2332
I tested with Build #479. Do you have newer code?

[2015-03-08 07:53] nmpetkov commented on #2332
No, but 479 is 16 hours  old, and last changes not there.

[2015-03-08 07:54] shefik commented on #2332
479 is the latest build. You don't have any pending pull requests

https://github.com/zikula/core/pulls

Do you have any other code that you haven't committed yet to the repository?

[2015-03-08 07:55] nmpetkov commented on #2332
This changes #2331 is not in this build.

[2015-03-08 08:04] nmpetkov commented on #2332
I checked this build, and #2331 is inside. So I'll start testing and will attempt to correct the problem.

[2015-03-08 10:26] shefik opened #2333 "Use of undefined constant ZIKULACORE_CURRENT_INSTALLED_VERSION"
Executing the console via CLI:

[code]

Throws the following error:

[code]

[2015-03-08 10:47] shefik opened #2334 "Installing via CLI Fails - Could not connect to the database"
Installing via CLI fails, because it can't connect to the database, even though the correct credentials are entered.

[code]

[2015-03-08 11:14] nmpetkov commented on #2332
The error was trivial (```Can't use function return value in write context```), but for me was difficult to find, because installer now works in ajax mode, and messages are not enough to find the place.
I tested with
[code]
I can suggest installer in this modes not to use ajax.

[2015-03-08 11:32] #2332 closed

[2015-03-08 11:47] craigh commented on #2333
do verbose

[code]

and post results please

[2015-03-08 11:48] craigh commented on #2334
ping @Guite - probably the changes in your validation

[2015-03-08 11:57] shefik opened #2336 "Endless Loop When Using the Smarty "route" plugin"
If a theme template uses the Smarty "route" plugin, as in the following example:

[code]

The corresponding module is required to be already installed beforehand. Otherwise, the following error is thrown:

[code]

If the user is not logged in, the error message is simply output to the screen. However, if the user is logged in as admin, an endless loop occurs, as the site keeps redirecting to this

[2015-03-08 11:59] craigh commented on #2336
refs #2142

[2015-03-08 12:04] craigh commented on #2321
@shefik did your PR only add the library? Did you implement any part of the solution? When I asked for a PR, I assumed it would be understood that you would also do that.

[2015-03-08 12:17] Guite commented on #2334
@shefik can you try commenting out this line https://github.com/zikula/core/blob/1.4/src/lib/Zikula/Bundle/CoreInstallerBundle/Validator/CoreInstallerValidator.php#L37 and see if it works then?

[2015-03-08 12:27] shefik commented on #2321
@craigh Yes, it only added the Webshim library for the moment, as well as some validation for the installer. I can submit another pull request to specifically address the registration/user forms. I've been going through much of the core in progression, so when I get fully past the installer tickets, I can move on to User and Profile mods, and so on.

[2015-03-08 12:33] shefik commented on #2333
[code]

[code]

[2015-03-08 12:42] craigh commented on #2333
and how did you come to see this? What were you doing? before install? after?

[2015-03-08 12:43] craigh commented on #2321
Feel free to submit many smaller PRs instead of one large one at the end. I would rather have smaller commits anyway

[2015-03-08 13:16] nmpetkov opened #2337 "[Discussion] Loading module variables"
Currently variables for all module and pseudo modules  are loaded when Zikula core initializes. This happens in line:
https://github.com/zikula/core/blob/1.4/src/lib/util/ModUtil.php#L117

This query loads all the table (`module_vars`) in the memory.

Rows in this table may vary from about 400 to more then 1000 from site to site. Each row can contain simple values, but often in module variables ar

[2015-03-08 14:05] rallek commented on #2337
From my point of view it is not true mainly one module is active. If you use Content than you have several modules in use at the same time.

[2015-03-08 14:34] cmfcmf commented on #2315
Yes, this doesn't work with routes right now (but could be made working in the future).

[2015-03-08 14:59] cmfcmf commented on #2321
Make sure *not* to validate any hooks via Ajax, because this breaks certain modules (such as the Captcha module).

[2015-03-08 15:09] cmfcmf commented on #2313
Is this fixed now @Guite?

[2015-03-08 16:25] craigh commented on #2315
isn't it already possible by simply editing the routes?

[2015-03-08 17:33] craigh commented on #2315
Please see pending PR for my solution. comments?

[2015-03-08 17:56] craigh commented on #2313
I don't think @Guite pull those changes into the core

[2015-03-08 17:58] craigh commented on #2333
executing the console e.g.
[code]
does not throw any errors for me.

[2015-03-08 18:03] craigh commented on #2333
I'm guessing this is related to #2334 or a result of a failed install. The constant will only be defined if the core has been installed correctly.

[2015-03-08 18:06] craigh commented on #2314
ping @shefik

please answer requests to provide more information more promptly. Filing tickets is great - **really, it is**. but we nearly always need more information than you provide. Please work to provide as much information as possible and also work to respond as quickly as you can to questions. Thanks.

[2015-03-08 18:09] craigh commented on #2302
@shefik I would like to test this so I can solve this ticket. What is the module?

[2015-03-08 19:35] #2336 closed

[2015-03-08 19:41] craigh commented on #2315
closed by #2338

[2015-03-08 19:41] #2315 closed

[2015-03-08 19:55] Kaik commented on #2333
I have experienced this some time ago and indeed it was related to previous failed install. Started fresh and never seen this error again.

[2015-03-08 20:29] shefik opened #2340 "Typo During Zikula AJAX Installation"
During the Zikula AJAX Installation process, this text is displayed briefly while the Settings module is being installed:

[code]

Notice the "t" that is missing from "Settings".

I can't seem to find the specific file that contains the typo. Any have any ideas where it is?

ping @craigh

[2015-03-08 20:33] craigh commented on #2340
the word `setings` doesn't appear in the core anywhere (just did a global search). Maybe it is in a translation file?

`\Zikula\Bundle\CoreInstallerBundle\Stage\Install\AjaxInstallerStage::getTemplateParams`
[code]

[2015-03-08 20:33] #2340 closed

[2015-03-08 20:46] shefik opened #2341 "[Jenkins] Unnecessary .ppt file extension added"
When downloading the POT files via Jenkins, the download appends the file extension ".ppt" to the file, such as:

zikula_js.pot.ppt
zikula.pot.ppt

It occurs on Mac. (I don't know if Windows has the same issue.)

[2015-03-08 21:01] craigh commented on #2341
This is the fault of your computer (mine too). The repo is correct.

[2015-03-08 21:01] #2341 closed

[2015-03-08 21:02] rallek commented on #2341
On Windows everything is going well. .pot without .ppt

[2015-03-08 21:26] shefik commented on #2340
I checked the translation files. Couldn't find it.

[2015-03-08 22:05] shefik commented on #2314
All you need to do is add this line of code to any controller:

[code]

If you are logged in, you will see that it keeps redirecting the user to the homepage, instead of leaving the user at the same page. The redirection to the homepage should not occur.

[2015-03-08 22:55] shefik commented on #2333
Works fine now, using Zikula 1.4.0 build 483.

[2015-03-08 22:55] #2333 closed

[2015-03-08 23:02] shefik commented on #2334
@Guite Commenting out that particular line of code didn't help.

Error:

[code]

[2015-03-08 23:07] shefik commented on #2334
I am running the command line on Mac OS. However, I use MAMP as a development environment. Perhaps the issue is due to the CLI attempting to use the MySQL instance that ships with Mac OS, instead of the MySQL that ships with MAMP? However, when installing via the web interface, the installer correctly calls to the MySQL instance with MAMP. Installing via CLI doesn't offer an option to choose the M

[2015-03-09 00:17] shefik commented on #2302
@craigh There is no public module to point you to. However, if you want to replicate the issue, then use your BreakIt module as an example.

See the attached screenshot.

I tested by adding both the Profile and Legal modules as required dependencies. Nothing gets populated as the "reason". Similar issue occurs with other modules, so it appears to be broken overall.

![breakit](https://cloud.github

[2015-03-09 00:23] craigh commented on #2302
please copy the code you added here. thanks

[2015-03-09 00:24] craigh commented on #2334
I also use MAMP and the CLI installer has worked fine in the past (wrt MySQL). I haven't tested it since @Guite's changes however (which are the problem I suspect).

[2015-03-09 00:25] craigh commented on #2334
I guess I should say that I changed my local php alias to use MAMPs php though. that may matter.

[2015-03-09 00:28] shefik commented on #2302
[code]

[2015-03-09 08:08] Guite commented on #2334
I was wondering about the actual exception error message: `No such file or directory`. This is probably not directly related to my changes. Also it seems to be a mac os specific behaviour. Please read these links for example:

* http://stackoverflow.com/questions/1819592/error-when-connecting-to-mysql-using-php-pdo
* https://www.drupal.org/node/752856
* https://www.drupal.org/node/752856#comment-5

[2015-03-09 08:11] Guite commented on #2314
@shefik you still didn't tell anything about your environment setting
@craigh shouldn't the user be redirected to the login page in `prod`?

[2015-03-09 10:04] craigh commented on #2314
it behaves differently depending on whether the user is logged in. see
https://github.com/zikula/core/blob/1.4/src/lib/Zikula/Bundle/CoreBundle/EventListener/ExceptionListener.php#L94-L103

[2015-03-09 13:18] espaan commented on #2329
mmhh damn, that is quite an inconvenience for MOST modules users/devs

[2015-03-09 14:17] shefik commented on #2314
@guite This occurs with the latest build of Zikula as-is. So, the setting is "prod".

[2015-03-09 20:58] craigh commented on #2314
I'm testing this using BreakIt - where I can throw an AccessDeniedException with ease. If I am logged in, then it redirects me back to the page I threw the error from. If I am not logged in, then it asks me to log in.

[this line](https://github.com/zikula/core/blob/1.4/src/lib/Zikula/Bundle/CoreBundle/EventListener/ExceptionListener.php#L102) redirects to the `HTTP_REFERER` which should do as you

[2015-03-09 21:34] craigh commented on #2302
I can confirm this is indeed broken.

I think it stems from when I changed the system to not load all bundles all the time. Currently, only installed bundles are loaded. This means that [this line of code](https://github.com/zikula/core/blob/1.4/src/lib/Zikula/Core/Doctrine/Entity/ExtensionDependencyEntity.php#L153)
[code]
will return null every time because the bundle isn't loaded into the kernel

[2015-03-09 21:41] nmpetkov opened #2342 "[Routing] Page not found error in viewing a theme"
To reproduce:
1. Go to admin panel, Thems.
2. Click on one non default theme, for example SeeBreeze (far left, or button preview on the right).
3. new window opens, and on the address bar:
```http://`xyz.com/ZikulaSeaBreezeTheme ``
and on page:
![image](https://cloud.githubusercontent.com/assets/628801/6565025/cbca3680-c6b5-11e4-859e-3d462f9cc548.png)

(I'm with dev/debug on).

[2015-03-09 23:19] craigh commented on #2342
my url looks like `http://127.0.0.1/core.git/src/index.php?theme=ZikulaSeaBreezeTheme` and works just fine

[2015-03-09 23:36] craigh commented on #2334
I am able to install via CLI with MAMP (on Mac). I just tested it and it works.

[2015-03-10 07:09] nmpetkov commented on #2342
This only happens if a setting is enabled:
```Enable directory-based short URLs ```
in main site settings page.

[2015-03-10 23:45] craigh commented on #2321
I'm not seeing any usage of this in the installer. can you be more specific where it was added?

[2015-03-11 00:28] craigh opened #2343 "path to polyfiller.js doesn't work in non-root environments"
https://github.com/zikula/core/blob/1.4/src/lib/Zikula/Bundle/CoreInstallerBundle/Resources/views/structure.html.twig#L24

and

https://github.com/zikula/core/blob/1.4/src/lib/Zikula/Bundle/CoreInstallerBundle/Resources/views/structure.html.twig#L27

assume that zikula is installed at the root of the website, e.g. http://mywebsite.com/ and not http://mywebsite.com/zikula/ (or similar)

the library

[2015-03-11 09:49] craigh commented on #2320
shorturls enabled?

[2015-03-11 10:37] nmpetkov commented on #2320
Yes, shorturls  enabled.

[2015-03-11 12:34] craigh commented on #2320
what happens when not?

[2015-03-11 12:38] nmpetkov commented on #2320
Works as expected (```http://www.xyz.com/index.php?lang=en ```).

[2015-03-11 13:14] Guite commented on #2314
Closed as invalid.

[2015-03-11 13:14] #2314 closed

[2015-03-11 14:10] nmpetkov commented on #2342
After last commit (https://github.com/zikula/core/commit/f8bddf6a4869a59627703f74ed4e4c8b8356fc1e) link to view a theme works in shorturls enabled, bu unfortunately in disabled shorturls started not to work :-(.

Result from testing after the commite:
shorturls ENABLED: works(address bar: http://xyz.com/?theme=ZikulaSeaBreezeTheme)
shorturls DISABLED: DON'T work (address bar: http://xyz.com/theme/

[2015-03-11 14:30] nmpetkov opened #2344 "Gettext translations not working in themes"
Problem is ilustrated in picture below:

![image](https://cloud.githubusercontent.com/assets/628801/6598236/f97ae8c6-c80a-11e4-8437-d0f3907d1e6a.png)

In same time strings (for example "Site search") exists in POT file and is translated:

![image](https://cloud.githubusercontent.com/assets/628801/6598328/a13d44e6-c80b-11e4-9f0c-01787c27e89c.png)

Translations from other content is translated prope

[2015-03-11 14:34] craigh commented on #2344
I don't believe this to be a theme problem. I think this is works in the database that cannot be translated automatically - you would need to update your menu block.

[2015-03-11 14:36] nmpetkov commented on #2344
This strings are from ```tpl```files, not from menu block.

[2015-03-11 14:41] nmpetkov commented on #2344
Here are links to where the strings are:
SeaBreeze:
https://github.com/zikula/core/blob/1.4/src/themes/SeaBreezeTheme/Resources/views/includes/userheader.tpl#L13
Andreas08:
https://github.com/zikula/core/blob/1.4/src/themes/SeaBreezeTheme/Resources/views/includes/userheader.tpl#L13

[2015-03-11 20:21] #2342 closed

[2015-03-11 20:36] cmfcmf commented on #2313
So @Guite what's the state here?

[2015-03-11 20:50] Guite commented on #2313
@cmfcmf There isn't anything done yet. The commit above was just an initial idea in theory, nothing more.

[2015-03-12 20:00] rallek commented on #2344
@nmpetkov is the language change in the settings really done?

I tried to change to german and failed. In my case I can see there is german language available. I select the second language as defauld and press save. The language is switched back to english :-(.

So i can confirm: There is troubble with translation.

[2015-03-13 09:59] cmfcmf commented on #2320
I wonder why the RoutesListener tries to handle the `/en` url. Shouldn't the legacy listener run and detect it as valid shorturl?

[2015-03-13 19:03] nmpetkov opened #2348 "[1.3] Problem in changing to default language with shorturls enabled and using {getcurrenturi} in template"
It is common practice to make link for change language with placing:
```{getcurrenturi lang='bg'}```
in template (language is for example ```bg```, but can be other). In Zikula 1.3.9 changing to default language in this way with shorturls enabled is not always successful. Here is how to reproduce:

*1. Localization settings:*
    - Multilingual enabled
    - Add language to URL - only for non-defa

[2015-03-13 19:04] nmpetkov commented on #2320
The problem seem to relate to #2348.

[2015-03-13 21:51] craigh commented on #2320
I'm guessing because routes are filtered first. `mywebsite.com/en` looks like a route, so the router tries to match and fails.

[2015-03-13 21:55] craigh commented on #2320
I wonder if routes must be reloaded when the language is changed?

[2015-03-13 21:57] craigh commented on #2320
@nmpetkov did you click the `Reload multilingual routing settings` admin link in the Routes module? (see directions at top of routes list)

[2015-03-13 21:59] craigh commented on #2320
also - how do I get a translation to test with?

[2015-03-13 22:06] nmpetkov commented on #2320
I have just clicked on the link ```Reload multilingual routing settings``` in Routes module, and get ```Done! Routing settings renewed.``` to ensure procedure i successful, but the error remains when changing language.

[2015-03-13 22:08] craigh commented on #2320
what if you change the language in the settings and not with the block?

[2015-03-13 22:11] nmpetkov commented on #2320
In the settings you can only change default language, switching between languages appear in frontend of the site.

[2015-03-13 22:12] craigh commented on #2320
I understand that. What happens when you do that?

[2015-03-13 22:16] nmpetkov commented on #2320
Changing default language is without problems, no errors, as seen from pictures below:
![image](https://cloud.githubusercontent.com/assets/628801/6648174/4ec44db0-c9df-11e4-9f6f-c3d19121040e.png)

![image](https://cloud.githubusercontent.com/assets/628801/6648180/650103a2-c9df-11e4-93df-3779f2354b28.png)

[2015-03-13 22:17] craigh commented on #2320
and all the routes work properly?

[2015-03-13 22:18] nmpetkov commented on #2320
I'm preparing a translation to be able to test.

[2015-03-13 22:31] nmpetkov commented on #2320
Changing default language in settings work properly, but trying to install new language not. I'll try to see why and will post later.

[2015-03-13 23:15] nmpetkov commented on #2320
To install new language, for example ```de```, create file:
app/Resources/locale/de/locale.ini
with proper information, and files:
app/Resources/locale/de/LC_MESSAGES/zikula.po
app/Resources/locale/de/LC_MESSAGES/zikula.mo
app/Resources/locale/de/LC_MESSAGES/zikula_js.po
app/Resources/locale/de/LC_MESSAGES/zikula_js.mo

[2015-03-14 14:38] craigh opened #2351 "Cannot translate routes"
@cmfcmf : trying to accomplish route translation according to your [docs](https://github.com/zikula/core/wiki/Release-Process)

but it fails with the following:

Extracting Translations for locale template
Keep old translations: No
Output-Path: app/Resources/translations
Directories: system, lib/Zikula/Bundle
Excluded Directories: Tests
Excluded Names: *Test.php, *TestCase.php
Output-Format: po
Cu

[2015-03-14 14:40] cmfcmf commented on #2351
This is caused by https://github.com/schmittjoh/JMSTranslationBundle/pull/223.

[2015-03-14 14:41] cmfcmf commented on #2351
You don't have to execute the command, it will only generate the routes.pot file which I already generated for the RC1: https://github.com/zikula/core/tree/1.4/src/app/Resources/translations

[2015-03-14 14:50] craigh commented on #2351
Christian: why is the route.pot file in the /translations instead of /locale?
and how does a translator add their own?

[2015-03-14 15:06] #2302 closed

[2015-03-15 12:10] shefik opened #2352 "Redirect to Absolute URL Needed"
When you go to:

[code]

It redirects to a relative URL:

[code]

Instead of the expected:

[code]

[2015-03-15 15:33] #2352 closed

[2015-03-16 00:18] craigh commented on #2320
@cmfcmf I believe the problem may be somewhere in `\JMS\I18nRoutingBundle\Router\I18nLoader::load`

[2015-03-16 17:21] craigh commented on #2344
@cmfcmf said he had the same trouble trying to change the language. Interestingly, I mine seems to work fine and so does (obviously) @nmpetkov

[2015-03-16 17:40] craigh commented on #2344
This ticket is invalid, the translations work as they are designed. As you can see [the code](https://github.com/zikula/core/blob/1.4/src/themes/Zikula/Theme/Andreas08Theme/Resources/views/home.tpl#L4) the template code you reference only appears if the topnavblock is empty - which by default it is not, it has a block installed. You can edit this block to include your translation like so:
![screen

[2015-03-16 17:40] #2344 closed

[2015-03-16 17:45] craigh commented on #2351
updated [doc related to this ticket](https://github.com/zikula/core/wiki/Release-Process/_compare/39ca2dc187258d6a70b0a11f301e50e5f9f55620...e118f429e634e1913affc2209ec44733d997495a) and closing as not core.

[2015-03-16 17:45] #2351 closed

[2015-03-16 17:47] craigh commented on #2320
The original post here is mainly a problem with the HOMEPAGE only. While the core currently still has issues related to translated routes, most of these are corrected by #2353
The homepage issue however is not corrected yet.

[2015-03-16 18:43] nmpetkov commented on #2344
Thank you for clearing this!

[2015-03-16 21:30] craigh commented on #2320
This is progress I think. It is definitely serving up this page in the selected language (German here) but it is (improperly) throwing a 404 for the homepage. So, mostly right, just don't want the error.

![screen shot 2015-03-16 at 5 29 16 pm](https://cloud.githubusercontent.com/assets/350048/6676936/04659d6c-cc02-11e4-991f-87e8e6ec3345.png)

[2015-03-17 06:29] Guite commented on #2320
Should be fixed by #2354. If you still experience problems please reopen.

[2015-03-17 06:29] #2320 closed

[2015-03-17 08:15] Guite commented on #2343
How are functions like `charset` and `lang` made available to the Twig templates?

I saw https://github.com/zikula/core/blob/1.4/src/lib/Zikula/Bundle/CoreBundle/Twig/Extension/CoreExtension.php but there is no charset extension contained.

Basic approach: provide `System::getBaseUrl()` and prepend it to the pathes.

[2015-03-17 09:07] craigh commented on #2320
this *may* also require #2353 - not sure.

[2015-03-17 13:23] nmpetkov commented on #945
One important impact of setting:
```$ZConfig['System']['compat_layer'] = false; ```
is theme overriding changes dramatically, because all overriding template files have to be specified in ```yml``` files, as described in documentation, but is also clear from this issue:
#318: ```No theme overriding with compat_layer = false```

[2015-03-17 13:45] espaan commented on #945
Ah ok, didnt realize that. I have it on since it's not a big performance penalty in 1.3.x core. You might do a small PR to add that to as a comment in config.php

[2015-03-17 14:00] nmpetkov commented on #945
@espaan Ok, but before making PR, one more think. In View.php there is piece of code
[code]
Searching this variables, I found, that ```$stylepath``` is used in tpl files in Zikula 1.3. Is this is a bug?

[2015-03-17 14:08] espaan commented on #945
I don't use the stylepath/imagepath any more myself. But I thought they were still supported in 1.3.x. But I'm not sure actually.

[2015-03-17 14:15] nmpetkov commented on #945
As seen from above code, if you install Zikula 1.3, and change legacy mode to ```false```, then style sheets are not loaded (explore master.tpl files for all themes, plus ```system\Permissions\templates\permissions_admin_viewinstanceinfo.tpl```). So, I think this is a bug, as the system have to work with this mode set to '''false```.

[2015-03-17 14:30] nmpetkov commented on #945
Edit: In fact they are again init in Theme.php, so they *are* available in tpl files.

[2015-03-17 15:07] Kaik opened #2355 "[Upgrade] [CLI] Failed on RoutesModule"
Hi, I have tried upgrade and this error occured
[code]
I was able to trace it to https://github.com/zikula/core/blob/1.4/src/lib/Zikula/Bundle/CoreInstallerBundle/Controller/AjaxUpgradeController.php#L115

Looks like there is no admin category with offset 0 I have checked why this did not act on "System" category and in my db it was set to "1.System" I have changed that to "System" before another

[2015-03-17 20:25] craigh commented on #2343
http://twig.sensiolabs.org/doc/templates.html#global-variables

[2015-03-17 20:31] craigh commented on #2343
also e.g. generated [here](https://github.com/zikula/core/blob/1.4/src/lib/Zikula/Bundle/CoreInstallerBundle/Controller/InstallerController.php#L61)

computed [here](https://github.com/zikula/core/blob/1.4/src/lib/Zikula/Bundle/CoreInstallerBundle/Util/ControllerUtil.php#L28-L38)

assigned to template [here](https://github.com/zikula/core/blob/1.4/src/lib/Zikula/Bundle/CoreInstallerBundle/Controll

[2015-03-17 20:43] shefik commented on #2343
I'll take a look at it.

[2015-03-17 20:44] craigh commented on #2355
please try again with the change I made.

[2015-03-17 20:45] craigh commented on #2343
the baseUri is available from the request object. I think the request object is available in the template also. you'd have to google that or search the docs. I cannot remember for sure.

[2015-03-17 20:47] craigh commented on #2321
ping @shefik feedback requested ^^^

[2015-03-17 20:56] craigh commented on #2343
yes - request object is in the template. see [this symfony doc](http://symfony.com/doc/current/book/templating.html#global-template-variables)

[2015-03-17 21:28] nmpetkov commented on #2348
After thinking on the problem, decided that new plugin is better solution, then to touch existing one, which is with other main functionality.

[2015-03-17 21:38] nmpetkov commented on #2348
More info. Now using above example, from:

``` http://xyz.org/en/display/glossary-terms/ ```

change to other non-default language will be:

``` http://xyz.org/de/display/glossary-terms/ ```

and change to default language:

``` http://xyz.org/display/glossary-terms/ ```

(depends on localization settins if lang code will be put).

[2015-03-17 22:51] craigh commented on #2313
I tried cherry-picking @Guite 's code in https://github.com/Guite/core/commit/805a4e9eb177d7e96208149f61666ae823e4cb74 and reloaded the routes and there were still duplicated routes.
![screen shot 2015-03-17 at 6 46 49 pm](https://cloud.githubusercontent.com/assets/350048/6699197/12792eb2-ccd6-11e4-8980-ad6d9dbab4b2.png)
![screen shot 2015-03-17 at 6 46 59 pm](https://cloud.githubusercontent.com/a

[2015-03-17 23:03] bsaverino opened #2357 "Modification Issues"

[2015-03-17 23:06] #2357 closed

[2015-03-17 23:06] bsaverino commented on #2357
Sorry i was in the wrong tab.

[2015-03-17 23:18] craigh commented on #2313
for example:
![screen shot 2015-03-17 at 7 17 33 pm](https://cloud.githubusercontent.com/assets/350048/6699635/4bed5336-ccda-11e4-9b15-02fa6e197885.png)

[2015-03-17 23:18] craigh commented on #2313
IMO this is solved. re-open if you disagree.

[2015-03-17 23:18] #2313 closed

[2015-03-18 20:29] craigh commented on #2348
`{getcurrenturi lang='bg'}`

your PR doesn't really solve this "bug" except to add a newer (and probably better and more appropriate) solution. If this is truly a "common practice" then the bug will still exist, no?

[2015-03-18 21:23] nmpetkov commented on #2348
The bug can be solved by replacing ```{getcurrenturi)``` with ```{langchange}```.
As main purpose of ```getcurrenturi``` is to return current URI, I decided to write a new plugin, with clear purpose, instead to change existing one. And once more - problem in using ```{getcurrenturi)``` to change language appears only when shorturls are enabled.

[2015-03-18 22:30] nmpetkov opened #2359 "Theme type in templates (and not only)"
I am working on responsive theme, and need to get specific information about the theme - if the theme is responsive or not. Currently I use a ugly solution, checking if `displayname` contains string 'bootstrap'.

After exploring the code from Zikula 1.2 to Zikula 1.4, I found, that now two fields (columns) in theme table are not in use:
`type`
`xhtml`
(historically they was in use, but not after Z

[2015-03-19 07:04] shefik commented on #2321
@craigh To see it working, use Safari on Mac, you will see that HTML5 form validation is working on the "required" fields. Without webshim, Safari did not fully support HTML 5 form validation. Therefore, the forms were able to bypass validation. The webshim displays the appropriate validation message and prevents the form from being submitted if invalid. As a comparison, view the same pages via Ch

[2015-03-19 09:08] Guite commented on #2287
This is done now (by #2327).

[2015-03-19 09:08] #2287 closed

[2015-03-19 13:31] Kaik commented on #2355
Now this showed up
[code]
 Var is present and set to 5 and category with this ID exist. Can this be due to wrong var type? https://github.com/zikula/core/blob/1.4/src/system/Zikula/Module/AdminModule/Api/AdminApi.php#L252

[2015-03-19 13:34] Guite commented on #2355
`is_numeric()` returns `true` not only for numbers, but also for numeric strings.

[2015-03-19 13:38] Kaik commented on #2355
@Guite Hmm this is wired I thought same as you said but just checked by adding (int) typecasting and it is working
   \ModUtil::apiFunc('ZikulaAdminModule', 'admin', 'addmodtocategory', array('module' => $routeModuleName, 'category' => (int)$destinationCategoryId));

[2015-03-19 13:50] Guite commented on #2355
Okay, weird indeed. I am going to commit this change.

[2015-03-19 13:52] Guite commented on #2355
Fixed in 1cd7dd7cf76ddb06f5775777778aa3fe1ab3b4b9

@Kaik thanks for testing!

[2015-03-19 13:52] #2355 closed

[2015-03-19 14:31] craigh commented on #2355
:+1:

[2015-03-19 15:49] Guite commented on #2343
Proposal: prepend ```{{ app.request.getBasePath() }}/```

[2015-03-19 15:56] Guite commented on #2334
how to proceed with this one? tend to postpone it to 1.4.1 or even close it since this seems nothing Zikula specific (see links above). opinions/objections?

[2015-03-19 18:30] jusuff commented on #2321
What's about this ticket? Does anyone work on it? And I mean initial issue - validating via ajax user entries (eg - is username free to use).

[2015-03-19 19:00] Kaik opened #2360 "[Upgrade] [CLI] Third party modules removed"
Hi, testing upgrade process for InterCom I have found that system upgrade is handlig third party module entries in modules table differently basing on if new module version is present in the system.
When module like InterCom is not present in the modules dir, information about the module is removed from the system, so there is no way to "add" module later and upgrade it later, as it was before.
Wh

[2015-03-19 19:25] nmpetkov commented on #2348
I'm closing this, as now it is possible to change language in template, when shorturls are enabled, by using the new plugin. Please reopen, if something is wrong.

[2015-03-19 19:25] #2348 closed

[2015-03-19 19:30] craigh commented on #2343
Of course. I was hoping @shefik would take care of it.

[2015-03-19 19:31] craigh commented on #2334
I would close it but was waiting for feedback from @shefik

[2015-03-19 19:32] craigh commented on #2321
You are :wink: ASAP :smile:

[2015-03-19 19:35] jusuff commented on #2321
Ok :)

[2015-03-19 21:58] craigh commented on #2360
IMO this is a bug in the upgrade procedure. the non-system modules shouldn't be upgraded. I'll try to take a look at this as well.

[2015-03-19 22:24] craigh commented on #2359
I don't see a systematic solution for this until 2.0.0

perhaps something like modules have a 'capabilities' key in the meta array.

[2015-03-19 22:41] Kaik commented on #2360
I have almost finished InterCom upgrade to work with this system automatic upgrade and apart from few things at the end it is actually handy. First of all doctrine update entity do not work I chosed to do it all manually, second thing module_vars - things do not work like $this->getVars etc... and at the moment all data is migrated nicely apart from that I cannot delete old vars... and it was work

[2015-03-20 03:00] shefik commented on #2343
It's done.

[2015-03-20 03:10] shefik commented on #2334
It still does not work for me. I tried change the host from "localhost" to "127.0.0.1" and the error persists:

[code]

[2015-03-20 03:21] shefik opened #2363 "Error at zikula.org - Notice: Undefined index: owneruid"
The Zikula blog is throwing an error here:

http://zikula.org/blog/display/2015/3/18/jetbrains-supports-zikula

[code]

[2015-03-20 06:15] Guite commented on #2363
This should probably be moved to https://github.com/zikula/zikula.org/issues shouldn't it? @craigh

[2015-03-20 06:17] Guite commented on #2334
@shefik did you read the links I posted above carefully?

Also now you got a different error. Before it was `No such file or directory` and now it is `Connection refused`.

[2015-03-20 06:17] Guite commented on #2343
Fixed in #2362

[2015-03-20 06:17] #2343 closed

[2015-03-20 07:54] Guite commented on #2232
Closed due to #2287

[2015-03-20 07:54] #2232 closed

[2015-03-20 09:06] craigh commented on #2363
i don't see any errors. and if it is the blog that would be the news module.

[2015-03-20 09:08] Guite commented on #2363
`owneruid` sounds like EZComments.

[2015-03-20 09:11] craigh commented on #2363
in either case, I see no errors.

[2015-03-20 20:10] craigh commented on #2333
I'm guessing you tried to run the installer when the MAMP servers were not running. I just experienced the same thing. Since the CLI accesses the DB, you need to make sure your servers are running first. I'm wondering if this is the issue with #2334 also

[2015-03-20 20:35] craigh commented on #2245
@cmfcmf I updated this to include profile (/cc @nmpetkov)

[2015-03-20 20:43] Kaik commented on #2333
I'm having this error every time upgrade fail I have replaced DB started upgrade again but not cleared cache.

[2015-03-20 20:53] craigh commented on #2333
please open a new ticket @Kaik . please include build information and server information.

[2015-03-21 10:25] Kaik commented on #2333
I will do all that next time I will be upgrading

[2015-03-21 21:36] jguille2 commented on #2363
I continue with this error (like I reported at [forum](http://zikula.org/forums/topic/59848)).
  - @krator reported the trace ... it pointed to EZComments.
  - I have this problem when I'm logged. Impossible to comment a news.
  - I've seen the comments from @craigh and @espaan. You don't see any error... Do you test with standard users? Maybe admin perms hide the problem?
  - Note: My zikula.org

[2015-03-21 21:51] nmpetkov commented on #2363
I'm also seeing this error.
It generates here:
https://github.com/zikula-modules/EZComments/blob/master/lib/EZComments/Api/User.php#L748
Obviously $args[objectid] is not set in calling function checkPermission, which is here:
https://github.com/zikula-modules/EZComments/blob/master/lib/EZComments/Api/User.php#L845

[2015-03-21 23:21] craigh commented on #2363
in any case, it is not a core issue. closing as NOT CORE. please open in EZComments.

[2015-03-21 23:21] #2363 closed

[2015-03-22 11:31] craigh commented on #2360
please confirm that `core_max` was set to `1.4.0` or higher before the upgrade was initiated.

[2015-03-22 11:51] craigh commented on #2360
@Kaik - please check with current pull of Core. I've added some changes. thank you.

[2015-03-22 18:47] craigh commented on #2280
and tagging a version

[2015-03-22 18:58] craigh opened #2366 "replace rhumsaa/array_column with ramsey/array_column"
on composer update this message appeared:

[2015-03-22 19:06] #2366 closed

[2015-03-22 21:57] craigh commented on #1985
@Guite has this been addressed by recent work on lang/locale tickets like #2351, #2320 ? perhaps it is solved?

[2015-03-22 22:01] Kaik commented on #2360
Module versions all of them have max 1.3.99 apart from LuMicuLa there is no max
Clip
1.3.2
1.3.99
Thumbnail
1.3.0
1.3.99
Dizkus
1.3.2
1.3.99
LuMicuLa
1.3.0

All of them are removed from modules db after upgrade. Current core pull same issue module gets upgraded during system upgrade - module I'm talking about have no core limits.

[2015-03-22 22:15] craigh commented on #2360
I'm not sure of the best way to handle the logic of this then.

@cmfcmf @Guite, do you have any ideas?

I think the logic is the same as it is in the 1.3 branch.

[2015-03-23 06:43] Guite commented on #2360
Maybe check for modules with a too low `max core version` setting before performing the upgrade. If those are found abort with an according information?

[2015-03-23 06:45] Guite commented on #1985
I doubt that this is solved already. @cmfcmf any information to share (see comments above)?

[2015-03-23 07:30] rallek commented on #2360
Might be several options:

1. Abort
2. Keep database tables
3. Keep database and module (without installation)

[2015-03-23 07:33] Kaik opened #2367 "[Upgrade] [WEB] Failed admin route not found"
Hi, I'm using cli for upgrades since quite long time because web upgrade is not working for me. Same db on cli and upgrade works fine.  Just after typing address in, it throws symfony error admin_adminpanel... route not found. I will provide error output and more information later on today.

[2015-03-23 08:03] Kaik commented on #2360
Upgrade is not removing module tables, it is only removing module information in modules table it is not removing old module_vars.
1.Abort or remove if someone is fine wit it.
2. Is it possible with current modules table to keep those records? Either not touched or at least with its id, version and module name.I think module name can be altered to current naming pattern.

[2015-03-23 09:33] craigh commented on #2367
build? php version?

[2015-03-23 09:37] craigh commented on #2360
@Guite - I don't think aborting is a good plan. The current docs and practice is to upgrade the core with an empty modules folder (except profile and legal). Then upgrade each module afterwards. this is good because the core upgrader shouldn't fail if a third party module fails to upgrade. With that understanding, review the Extensions AdminApi regenerate() method. I *think* that all these modules

[2015-03-23 21:16] craigh commented on #2367
what address?

[2015-03-25 23:20] craigh commented on #2360
@Kaik - I made some fixes. will you please test again?

[2015-03-25 23:20] craigh commented on #2367
ping @Kaik

[2015-03-26 12:57] Kaik commented on #2367
In address bar - domain.com/upgrade.
I will pull fresh core today and will be testing everything on fresh.

[2015-03-26 15:38] craigh commented on #2367
Be sure to start with an empty cache

[2015-03-26 17:32] Kaik commented on #2360
Ok this is working I have tested c013. Modules are with missing files label. Now I will do some more testing I have 3 databases 1.3.5. I have tested without InterCom module present so let me do some more test and I will try to check #2367

[2015-03-26 19:24] Kaik commented on #2367
This is the error
'''
Exception detected!

Unable to generate a URL for the named route "zikulaadminmodule_admin_adminpanel" as such route does not exist.

500 Internal Server Error - RouteNotFoundException

Stack Trace

in app/cache/dev/appDevUrlGenerator.php at line 53   -
    public function generate($name, $parameters = array(), $referenceType = self::ABSOLUTE_PATH)
    {
        if (!isset(se

[2015-03-27 00:05] craigh commented on #2367
So the routes are apparently not being properly regenerated before this happens. During the upgrade, several text status updates are provided. Do any of them indicate problems?

[2015-03-27 00:55] Kaik commented on #2367
"During the upgrade..." there is no upgrade process at all, when you go to the upgrade address to start upgrade, above error shows straight away, there is no language no admin login etc.

[2015-03-27 01:27] craigh commented on #2367
I assumed because:

which means that it is getting to the CompleteStage somehow

[2015-03-27 23:52] #2367 closed

[2015-03-28 01:59] #2334 closed

[2015-03-28 01:59] craigh commented on #2360
closing. we can reopen if the problem reappears.

[2015-03-28 01:59] #2360 closed

[2015-03-28 05:09] shefik opened #2374 "Installation Fails"
With the latest build of Zikula 1.4.0, AJAX installation fails. Everything after "Symfony Bundles persisted" fails.

[2015-03-28 05:16] shefik commented on #2374
Error:

[code]

[2015-03-28 10:19] craigh commented on #2374
what was the password you entered?

[2015-03-28 14:12] craigh commented on #2374
I just ran the installer and it worked fine.

[2015-03-28 15:57] craigh commented on #2374
convert to `env: dev` and `debug:true` and provide the entire trace. also will need the parameters (name, pwd, etc) that you entered

[2015-03-28 16:16] craigh commented on #2374
after doing some googling, I suspect that you did not enter a required parameter like password and so it failed.

[2015-03-28 18:26] shefik commented on #2374
@craigh I would not be able to get to the AJAX installer without a valid password. The connection is valid to the database, because it only creates the "bundles" table. Everything else fails afterwards.

[2015-03-28 18:39] shefik commented on #2374
The admin password is:

[code]

Here is the trace:

[code]

[2015-03-28 18:39] shefik commented on #2374
@craigh Looks like the error means that an exclamation point (!) should not be used in passwords?

[2015-03-28 19:08] shefik commented on #2374
When I remove the exclamation point, the installer continues, but eventually fails again at:

[code]

Then, alert pops-up:

[code]

[2015-03-28 19:09] craigh commented on #2374
try again but remove the percent (%) signs instead

[2015-03-28 19:09] shefik commented on #2374
This is the new password I used:

[code]

[2015-03-28 19:11] craigh commented on #2374
after the error, post the contents of `personal_config.php` and `custom_parameters.yml`

[2015-03-28 19:12] shefik commented on #2374
There is no "personal_config.php", because installation fails at:

[code]

[2015-03-28 19:13] craigh commented on #2374
and `custom_parameters.yml`?

[2015-03-28 19:19] shefik commented on #2374
Admin password changed to:

[code]

Still fails at:

[code]

With the alert:

[code]

Contents of custom_parameters.yml:

[code]

[2015-03-28 19:22] craigh commented on #2374
slack?

[2015-03-28 19:23] shefik commented on #2374
Ok, I'll login in a few minutes.

[2015-03-28 20:47] craigh commented on #2374
this turns out to be two issues:

1. some issue with Intercom
2. a problem with non-escaped characters in the yaml file (e.g. `!`)

[2015-03-28 20:47] #2374 closed

[2015-03-28 20:50] craigh opened #2376 "installer does not allow full character set for ADMIN pwd"
installer does not allow full character set for ADMIN pwd - because the password is written to a yaml file temporarily, it cannot allow certain characters [without being escaped](http://symfony.com/doc/current/components/yaml/yaml_format.html)

so, form values must be quoted before stored in yaml file.

[2015-03-28 20:50] craigh commented on #2376
/cc @shefik

[2015-03-28 21:26] craigh commented on #2376
for example, if I create the admin with the password `Bp(2%(!u%P%fT^J` then during the install process, that value is temporarily written to the `custom_parameters.yml` file but it is written without escaping it and the `!` character causes read errors.

I cannot figure out a way to force the Symfony Yaml component to quote the string so it is valid. if I add the quotes myself, then it triples or

[2015-03-28 21:26] craigh commented on #2376
ping @Guite ideas here?

[2015-03-29 08:29] Guite commented on #2376
My idea would be removing `Zikula\Bundle\CoreBundle\YamlDumper` and using `Symfony\Component\Yaml\Dumper` instead.

[2015-03-29 11:54] craigh commented on #2376
`Zikula\Bundle\CoreBundle\YamlDumper` uses the functionality of `Symfony\Component\Yaml\Dumper` through the `Symfony\Component\Yaml\Yaml` class.

[2015-03-30 07:26] shefik opened #2380 "Single id is not allowed on composite primary key in entity"
I am attempting to create a module, and I have a entity defined with the following column:

[code]

However, upon module installation, this error is thrown:

[code]

If I change "content_type" to "type", installation is successful.

[code]

So, why is the module installation failing with that error? I don't have any other modules installed. Only the Zikula core. Is "content_type" reserved?

[2015-03-30 07:30] Guite commented on #2380
This error is not Zikula-specific, but thrown by Doctrine.

Searching for the error message shows corresponding threads, for example http://stackoverflow.com/questions/19683811/getting-issues-while-trying-to-generate-doctrine2-crud

Closing as `not core`.

[2015-03-30 07:30] #2380 closed

[2015-03-30 07:39] shefik commented on #2380
@Guite Thanks for the link, but even though it's an error thrown by Doctrine, it still doesn't make sense why just changing the column name from "content_type" to "type" makes it work. I am not able to create a column with the name "content_type". Since I don't have any other modules installed (only the Zikula core), why would that even happen?

[2015-03-30 07:45] Guite commented on #2380
Probably this one: http://elnur.pro/how-to-enable-the-underscore-naming-strategy-for-doctrine-orm-in-symfony/

[2015-03-30 08:42] shefik commented on #2380
I tried setting this in config_prod.yml:

[code]

But, that causes errors with Routes. Now, a message is displayed at the top of the page that says:

[code]

Going to the URI at /routes/routes/reload?lct=admin&confirm=1 throws the error:

[code]

So, is this now a Zikula bug, since that Doctrine setting that can't be set properly?

[2015-03-30 08:51] Guite commented on #2380
No, it isn't.
If you change a global Doctrine setting, then this naturally affects all modules. So in theory you would have to change all database fields from mixed case to underscores.
Better would be using the dbName attribute like this:

[code]

(taken from http://doctrine-orm.readthedocs.org/en/latest/reference/basic-mapping.html#property-mapping )

[2015-03-30 09:01] shefik commented on #2380
Ok, it works now, by explicitly setting the column name:

[code]

Setting "doctrine.orm.naming_strategy.underscore" is not needed.

Thanks.

[2015-03-30 13:12] Guite commented on #2321
Closed by #2377

[2015-03-30 13:12] #2321 closed

[2015-03-30 15:11] #2376 closed

[2015-03-31 11:23] cmfcmf opened #2381 "QA testing for release of 1.4.0 build #515"
Please test build [#515](http://ci.zikula.org/job/Zikula_Core-1.4.0/515/) and decide if it should become the next official release. __Anyone may participate in the testing process.__

Testing guidelines can be found in [Release Testing Guideline](https://github.com/zikula/core/wiki/Release-Testing-Guidelines)

We require five +1 votes to promote this build and a minimum testing period of three day

[2015-03-31 13:42] nmpetkov opened #2382 "Localisation settings: can not set different default language"
How to reproduce:
1. Install one or two other languages (other then English).
2. Go to Settings, Localisation settings.
3. Try to change drop-down "Default language to use for this site".

In my case I can't change.

Analysis:
1. I checked in database, and it is changed, as seen in the picture below:
![image](https://cloud.githubusercontent.com/assets/628801/6919998/51d06780-d7c4-11e4-9dd4-b40e3bb

[2015-03-31 15:39] cordoval opened #2383 "contact"
sorry i don't know where else to put this. I am trying to reach drak because on github it seems his account was tied to a package in packagist https://packagist.org/packages/drak/native-session and this is gone.

can we stale his account but recover it please?

[2015-03-31 15:54] cmfcmf commented on #2383
I don't know what happened either. Maybe @craigh, @Guite or @rallek know :disappointed:

[2015-03-31 17:43] cordoval commented on #2383
solved zikula/NativeSession , @drak --rip-- did it again from his grave :older_man:

[2015-03-31 17:43] #2383 closed

[2015-03-31 17:45] cordoval commented on #2383
cc  @iambrosi

[2015-03-31 17:45] iambrosi commented on #2383
Awesome! Thanks

[2015-03-31 18:10] luilope1 opened #2384 "Catchable Fatal Error: Argument 1 passed"
Hi,
I'm testing zikula 1.4 and I have this problem:

In profile.tpl
{modfunc modname='ZikulaMembersModule' type='user' func='result'  yo='1'}

[code]

[2015-03-31 18:10] craigh commented on #2382
the route is being translated but the strings are not being loaded from the translated catalog. This worked properly a week+ ago. grrrr...

[2015-03-31 18:12] craigh commented on #2382
if I append `?lang=de` to my url, all the strings are properly translated and it appears to work, so this may be more simple than it appears.

[2015-03-31 18:13] craigh commented on #2384
what is `ZikulaMembersModule` ?

[2015-03-31 18:13] craigh commented on #2384
are you testing RC2? (build 515)

[2015-03-31 18:15] craigh commented on #2384
please upgrade to RC2 and test again.

[2015-03-31 18:19] nmpetkov commented on #2382
I tis not connected to routes I think, just config variable ```language_i18n``` is loaded as 'en' in this line:
https://github.com/zikula/core/blob/1.4/src/lib/i18n/ZLanguage.php#L142
But in database the value is 'de' (for example, after trying to change default language - not by URL, but in settings).

[2015-03-31 18:24] luilope1 commented on #2384
zikulaMemberModule is a own module that I'm converting zikula 1.4.
Tomorrow I will continue testing zikula RC2.

Sorry for my English.

[2015-03-31 18:26] craigh commented on #2384
upload to your github acct and maybe I can take a look, but I would assume that the problem is with the module, not the core :smile:

I'm not sure the old `{modfunc}` plugin is going to be useful here. but I'm not sure. you may have to pass the `Request` object to it.

closing as not core.

[2015-03-31 18:26] #2384 closed

[2015-03-31 18:28] craigh commented on #2382
that line loads from the DB and sets `en` as the default if it cannot load the value.

[2015-03-31 18:33] nmpetkov commented on #2382
As I examine back trace, this is maybe first call to ```System::getVar```.
[code]

[2015-03-31 19:23] nmpetkov commented on #2382
I think, I found the reason. In module_vars table, I found two records for same value!
![image](https://cloud.githubusercontent.com/assets/628801/6927175/43abf0ae-d7f4-11e4-9bd9-7c1cf8dd6991.png)
and ih this cycle:
https://github.com/zikula/core/blob/1.4/src/lib/util/ModUtil.php#L119
second one overrides first (true) one!

[2015-03-31 19:23] craigh commented on #2382
hmmmm. can you provide a PR? :stuck_out_tongue_winking_eye:

[2015-03-31 19:24] nmpetkov commented on #2382
First have to find way duplicates appear...

[2015-03-31 19:25] craigh commented on #2382
I have two also

![screen shot 2015-03-31 at 3 25 19 pm](https://cloud.githubusercontent.com/assets/350048/6927265/2f3a542e-d7ba-11e4-8491-6c3a9e0e0e56.png)

[2015-03-31 19:26] craigh commented on #2382
seems like that shouldn't be possible. I thought the modular system would have handled that. maybe the new installer?

[2015-03-31 19:27] craigh commented on #2382
oooh - I should mention that my screenshot is from a build without a second language installed.

[2015-03-31 19:28] craigh commented on #2382
this has two:

![screen shot 2015-03-31 at 3 28 13 pm](https://cloud.githubusercontent.com/assets/350048/6927328/947809da-d7ba-11e4-9d28-17a8fb92cc33.png)

[2015-03-31 19:29] nmpetkov commented on #2382
Maybe they occur  when writing values after editing Settings in the site.

[2015-03-31 19:29] craigh commented on #2382
I bet it happens on install.

[2015-03-31 19:30] craigh commented on #2382
before any changes - I'll try to reinstall build 515 and get back to you

[2015-03-31 19:30] nmpetkov commented on #2382
Apart of the reason, maybe it is good to edit this cycle:
https://github.com/zikula/core/blob/1.4/src/lib/util/ModUtil.php#L119
to get first values only.

[2015-03-31 19:34] craigh commented on #2382
yes. it is somehow set twice in the installation process. After a fresh installation, I have two instances.

here is one: https://github.com/zikula/core/blob/1.4/src/lib/Zikula/Bundle/CoreInstallerBundle/Controller/AjaxInstallController.php#L287

[2015-03-31 19:37] craigh commented on #2382
another is here: https://github.com/zikula/core/blob/1.4/src/system/Zikula/Module/SettingsModule/SettingsModuleInstaller.php#L100

[2015-03-31 19:48] nmpetkov commented on #2382
This check is based on the presumption, that every variable exist in this array, if exists in database. Safer will be to check if exist in database, to change, and  if not - to add:
https://github.com/zikula/core/blob/1.4/src/lib/util/ModUtil.php#L270

[2015-03-31 19:50] craigh commented on #2382
looks from there like if it does not exist in the array, it checks the DB, no?

[2015-03-31 19:51] craigh commented on #2382
oh - I read it wrong. maybe not

[2015-03-31 19:53] #2382 closed

[2015-03-31 19:54] craigh commented on #2382
I fixed the main problem. the redundancy of `ModUtil::setVar()` hasn't been an issue before, so probably better not to fuss with it at this point. But it may need some improvement - maybe open a ticket and we'll assign it to 1.4.1 :smile:

[2015-03-31 19:55] craigh commented on #2381
this may need to fail because of #2382 (which is corrected). but we will wait and see

[2015-03-31 20:05] nmpetkov commented on #2382
BTW I found one more duplicate. I executed in phpMyAdmin folowing query:
```SELECT modname, name, COUNT( * )  FROM module_vars GROUP BY modname, name HAVING COUNT( * ) >1```
and the result is:
![image](https://cloud.githubusercontent.com/assets/628801/6928098/68eb6f9c-d7fa-11e4-9118-7c58f411d923.png)

[2015-03-31 20:26] nmpetkov opened #2385 "Duplicate values in module_vars table"
The logic of ```ModUtil::setVar``` procedure allows to happen duplicate values for module and config variables. This is truth for both Zikula 1.3 and Zikula 1.4 branches.
Examples here:
#2382

Example for 1.3 branch:
```SELECT modname, name, COUNT( * )  FROM module_vars GROUP BY modname, name HAVING COUNT( * ) >1```
![image](https://cloud.githubusercontent.com/assets/628801/6928472/ef2c7068-d7fc-1

[2015-03-31 20:50] shefik commented on #2384
@luilope1 Instead of ```{modfunc}``` try:

[code]

Also, make sure you have routes set-up in your module.

[2015-03-31 20:52] nmpetkov commented on #2382
@craigh , as it is visible from the picture above, and as I've just tested, Admin e-mail address also can not be changed, and the reason is the same.

[2015-03-31 20:52] nmpetkov commented on #2382
Is this needs separate issue?

[2015-03-31 20:53] craigh commented on #2382
I think it is covered by your other ticket

[2015-03-31 21:19] nmpetkov commented on #2385
In 1.3 branch even if duplicates exists, they are ALL updated, as seen in this code fragment:
[code]

In 1.4 branch is updated only FIRST ONE, as seen from the code:
[code]
(using ```findOneBy```)

[2015-03-31 23:08] craigh commented on #2385
The issue in this case is not ensuring all duplicates are updated, but preventing a duplicate from being created in the first place. As I test this code, the condition you refer to is never reached. So, while *later* updates might be fixed by changing the code you reference, it doesn't fix the initial problem.

[2015-03-31 23:57] #2385 closed

[2015-04-01 00:02] craigh commented on #2381
my vote is :-1: close

#2385 and #2382 should be included in final release (both are corrected)

[2015-04-01 04:49] jusuff commented on #2381
I suppose this is not blocker, but #2321 - confirm registration validation is not working properly

[2015-04-01 05:19] Guite commented on #2381
@jusuff did you experience problems or missing functionality with regards to the registration validation?

[2015-04-01 09:03] Kaik commented on #2384
I just had similar error. I tried to access directly abouts action here
[code]
This was reason for passed array instead of request object error. Maybe it will help :)

[2015-04-01 12:16] shefik commented on #2381
@jusuff Validation is working for me, including the validation if a user name and/or email address already exists. It also checks for the correct password length and required fields. What issue are you experiencing specifically? Also, with what browser?

[2015-04-01 12:16] craigh commented on #2381
let's open a new ticket and move the discussion there.

[2015-04-01 12:19] craigh opened #2387 "registration validation is not working properly"
refs #2381 #2321

@Guite :

@shefik :

[2015-04-01 12:24] craigh commented on #2387
@shefik - I continue to get errors in my JS console like

like I mentioned before.

[2015-04-01 12:24] shefik commented on #2387
Checking...

[2015-04-01 12:26] craigh commented on #2387
If I force reload enough times, then the library loads without error, but this is obviously not a workable solution for users. It should load everytime.

[2015-04-01 12:58] shefik commented on #2381
I also vote to fail this build due to #2385 and #2382.

[2015-04-01 13:23] shefik commented on #2387
I tested with Zikula 1.4.0 build 517. I am not experiencing any issues with registration and/or validation.

[2015-04-01 16:33] luilope1 commented on #2384
I tried with
[code]
and the output is:
[code]
but I need the result of this url

I tried with:
[code]
And the same error:
Catchable Fatal Error: Argument 1 passed to Zikula\IntercomModule\Controller\UserController::inboxAction() must be an instance of Symfony\Component\HttpFoundation\Request, array given

[2015-04-01 18:02] Guite commented on #2384
Maybe this helps: https://translate.google.com/translate?sl=de&tl=en&js=y&prev=_t&hl=de&ie=UTF-8&u=http%3A%2F%2Fget-the-most.de%2Fblog%2Fdisplay%2F2014%2F3%2F20%2Fcontroller-funktionen-in-templates-einbinden%2F&edit-text=&act=url

[2015-04-01 19:03] jusuff opened #2391 "Wrong paths to js files"
Installed fresh build 515
Paths to js files defined in this manner:

    {pageaddvar name='javascript' value='@ZikulaUsersModule/Resources/public/js/Zikula.Users.Common.UserValidation.js'}

are broken. This one is evaluated to:

    http://zikula-build-515.zikula.w/%5Csystem%5CZikula%5CModule%5CUsersModule/Resources/public/js/Zikula.Users.Common.UserValidation.js

Have no idea how this work so cou

[2015-04-01 19:04] jusuff commented on #2387
Ok - issues I reported earlier are related to: #2391
So I suppose nothing wrong with @shefik  work.

[2015-04-01 19:05] jusuff commented on #2381
Sorry for no reply this morning, but had to go to work.
Tested registration again and found other issue - reported in #2391

[2015-04-01 19:25] shefik commented on #2391
Looks like the problem might be with this function:

[code]

Line 403 here:

[code]

[2015-04-01 19:30] shefik commented on #2391
@jusuff Is your Zikula installation actually encoding the result ```%5Csystem%5CZikula%5CModule%5CUsersModule```, or is that GitHub encoding it?

[2015-04-01 19:32] jusuff commented on #2391
Zikula.

[2015-04-01 19:33] shefik commented on #2391
My Zikula installation is correctly returning the path:

[code]

So, I'm wondering if it has to do with where you installed Zikula?

[2015-04-01 19:34] jusuff commented on #2391
What OS? I'm using Windows. Maybe this is the reason?
But it was ok few days ago. Got this issue yesterday after updating my working copy and today, installing RC from CI build.

[2015-04-01 19:35] shefik commented on #2391
That might be the problem then. I am using MAMP on Mac.

[2015-04-01 19:36] jusuff commented on #2391
So will try to debug this.

[2015-04-01 19:36] shefik commented on #2391
Can you take a look at lines 419 - 421 of this file:

[code]

The issue is with those lines.

[2015-04-01 20:07] shefik commented on #2391
@jusuff Also, it might help taking a look at this file:

[code]

Line 250 - ```function locateResource```

[2015-04-01 20:28] craigh commented on #2391
ping @cmfcmf you created the `@` notation for assets.

[2015-04-01 20:30] craigh commented on #2381
build fails.

[2015-04-01 20:30] #2381 closed

[2015-04-01 20:36] Guite opened #2392 "Ensure we use Symfony 2.6.6"
A security update has just been released:

http://symfony.com/blog/symfony-2-6-6-released

[2015-04-01 20:39] craigh commented on #2392
composer should automatically update to latest in 2.6.x release

[2015-04-01 20:39] craigh commented on #2392
`"symfony/symfony": "2.6.*",`

[2015-04-01 21:02] craigh commented on #2392
build [526](http://ci.zikula.org/job/Zikula_Core-1.4.0/) includes symfony 2.6.6

[2015-04-01 21:02] #2392 closed

[2015-04-01 23:34] craigh opened #2393 "upgrade to symfony 2.6.6 breaks routing"
upgrading to 2.6.6 (what the core is currently at in the most recent build) breaks the routing.

the behavior is very similar to the problems we were having when we were working on the multilingual routing lately. For example, trying to go the the webroot e.g. index.php caused an immediate redirect to `/categories` but in my case it was to the translated route (my fake `/categoriesx`). Even though

[2015-04-02 12:35] craigh commented on #2393
perhaps I was initially wrong. the upgrade to symfony 2.6.6 may not be the issue. If I remove my `routes.de.mo` and `route.de.po` files from `/translations` (and delete the cache) then it works properly. The problem seems to occur with those files in place and with symfony 2.5.5 also. :confused:

[2015-04-02 17:12] #2393 closed

[2015-04-02 17:59] luilope1 commented on #2384
Thank you very much. This code works correctly
[code]

[2015-04-02 18:11] craigh commented on #2384
since that seems kind of "hacky" you might consider a different method (if you are refactoring for 1.4 anyway). Maybe an API method or directly injectin the result into the template in the controller.

[2015-04-02 20:13] craigh commented on #2393
@cmfcmf - the site appears to work again, but the translated routes are not being used. Links appear in english.

![screen shot 2015-04-02 at 4 12 28 pm](https://cloud.githubusercontent.com/assets/350048/6972641/2be6aad0-d953-11e4-82d6-40871aeca95f.png)

[2015-04-02 20:14] craigh commented on #2393
oops - I guess I just needed to delete my cache. but this had to be done manually - despite the fact that I reloaded the routes.

[2015-04-02 20:17] craigh commented on #2393
![screen shot 2015-04-02 at 4 14 51 pm](https://cloud.githubusercontent.com/assets/350048/6972729/b7d95132-d953-11e4-9d29-d0a80b1e1606.png)

[2015-04-03 00:41] craigh opened #2398 "Doctrine ORM 2.4.x EOL, 2.5.0 released"
When should this be included in Zikula? (temporarily set to 1.4.0 pending discussion)

http://www.doctrine-project.org/2015/04/02/orm-2-5-0.html

BC Breaks: http://docs.doctrine-project.org/en/latest/changelog/migration_2_5.html#behavioral-changes-bc-breaks

[2015-04-03 01:40] shefik commented on #2398
How much of the Zikula core is actually effected by those BC breaks? If it's minimal, or non-existent, then I say to upgrade to the new Doctrine version, and correct the core where needed.

[2015-04-03 07:20] Guite commented on #2398
Personally I think get it into 1.4.

Especially http://docs.doctrine-project.org/en/latest/changelog/migration_2_5.html#events-postload-now-triggered-after-associations-are-loaded is a very useful feature.

[2015-04-03 07:41] Guite commented on #2398
The only problem I can see is it requires PHP 5.4.

[2015-04-03 07:41] Guite commented on #2398
On the other hand 2.4.x is EOL...

[2015-04-03 08:23] luilope1 commented on #2384
I could give an example of how to use another method api or directly injectin the result into the template in the controller.

[2015-04-03 08:32] Guite commented on #2289
Fixed in #2400

[2015-04-03 08:32] #2289 closed

[2015-04-03 11:49] craigh commented on #2384
I assume you are *requesting* and example? (give = provide)

API: create a new API method that does what you are asking. call that using `{modfuncapi}` instead. call same from the controller you are referencing if it is used elsewhere.

template injection: do the same as you are doing above, but add your new data:
[code]

then display the result in your template
`{{ myNewData }}`

[2015-04-03 11:56] craigh commented on #2398
unknown. feel free to test :stuck_out_tongue_winking_eye:

This gets to an argument about philosophy in development. Should the Core 1.x release continue with the same system requirements (e.g. PHP 5.3) or can those requirements be changed during the 1.x release cycle? If change is allowed, then certainly we can bump this change to 1.4.1 right? Of course I have no idea what has already been change

[2015-04-03 15:14] craigh commented on #2391
ping @jusuff have you tested this? does it work?

[2015-04-03 15:24] craigh commented on #2398
for that matter, Symfony 2.6.x is EOL in [three months](http://symfony.com/roadmap#checker)

hmmm. Maybe Core 1.4 should not be based on Symfony 2.6?

[2015-04-03 15:27] Guite commented on #2398
The version checker also shows that Symfony 2.7 will be a long term support version published in May 2015. But as you say this just delays 1.4.0.

Thus my vote is: keep existing stuff for 1.4.0.
Update to Doctrine ORM 2.5.0 and Symfony 2.7 in 2.0.0.

[2015-04-03 16:38] craigh commented on #2398
did a quick test at upgrading and found several challenging items. I think this will be more difficult than one would wish and therefore delaying until 2.0.0 is IMO required since it could significantly delay Core 1.4.0. Therefore I agree with @Guite

Update to Doctrine ORM 2.5.0 and Symfony 2.7 in 2.0.0.

[2015-04-03 20:28] jusuff commented on #2391
Looks like @cmfcmf fix solved the issue. Paths are fine right now.

[2015-04-03 20:30] #2391 closed

[2015-04-03 21:11] craigh commented on #2387
closed by #2388

[2015-04-03 21:11] #2387 closed

[2015-04-04 17:20] luilope1 commented on #2384
Thank you very much. I will work in this example.
Sorry for my English.

[2015-04-05 11:45] shefik commented on #2280
Is there a specific list of tasks to get this "blocker" finalized?

[2015-04-05 11:48] craigh commented on #2280
not really. There are issues in the respective repos that can be worked on - but none of these are preventing release IMO.

This ticket is here (and set as blocker) to ensure that we actually TAG a release in those modules before releasing the core. Tagging is critical so that future upgrades to those modules can occur in later core releases. It is a step that has been forgotten too many times and

[2015-04-05 11:49] shefik commented on #2280
So, are we ready for another RC, since there are no more tickets for this milestone?

[2015-04-07 10:02] cmfcmf opened #2404 "Make sure we use beberlei/DoctrineExtensions v3"
https://github.com/beberlei/DoctrineExtensions/releases/tag/v0.3.0

The core only ships these extensions for legacy reasons (as documented in the upgrade-doc). This should fix https://github.com/zikula/core/issues/2329 @rallek.

- [ ] update composer to install v0.3 instead of dev-master
- [x] test with module using the old paginator.

[2015-04-07 12:05] craigh commented on #2404
good catch. I'm not sure about existing modules using old paginator though...

[2015-04-07 12:53] rallek commented on #2404
oh, if this avoids this BC I would be happy :-)

[2015-04-07 18:58] cmfcmf commented on #2404
I'm testing this with @rallek `VerySimpleDownload` module and it appears to work. However, I get the following error when creating a new entity / download:
![unbenannt](https://cloud.githubusercontent.com/assets/2145092/7030991/d43cc84a-dd68-11e4-8d20-0cada881c23c.PNG)

[2015-04-08 14:22] Guite commented on #2404
The workflow related issue is probably caused by a different implementation of `getActionsForObject()` in `1.3.x` vs. `1.4` modules. See https://github.com/Guite/MostGenerator/blob/master/org.zikula.modulestudio.generator/src/org/zikula/modulestudio/generator/cartridges/zclassic/controller/util/WorkflowUtil.xtend#L204
If I remember correctly the basic difference is that a workflow is not only an a

[2015-04-09 13:04] cmfcmf commented on #2404
I have the same error with Zikula 1.3.9. Therefore this is a MOST problem.

[2015-04-09 13:12] #2404 closed

[2015-04-09 18:00] cmfcmf opened #2405 "Consider to add Shariff"
https://github.com/heiseonline/shariff
German article: http://www.heise.de/ct/artikel/Shariff-Social-Media-Buttons-mit-Datenschutz-2467514.html

It adds these social media buttons to pages (if wanted) without actually sending data to Facebook, Google, etc. It displays the like count by querying the provider's api and therefore requires a PHP backend.
![unbenannt](https://cloud.githubusercontent.co

[2015-04-09 18:08] Guite commented on #2405
Isn't this a feature for the Socialise module instead of the core?
https://github.com/phaidon/Socialise

[2015-04-09 18:10] cmfcmf commented on #2405
You're right.

[2015-04-09 18:10] #2405 closed

[2015-04-09 18:49] shefik commented on #2405
@cmfcmf I haven't read all the docs from that site yet. But, my assumption is that enterprise-level companies would want data to be sent to the social networks for proper aggregation of analytics. Also, does this script violate any terms of use with the social networks, since it potentially bypasses intended/expected usage?

[2015-04-09 18:50] shefik commented on #2405
Side note: This requires PHP 5.4+.

https://github.com/heiseonline/shariff-backend-php

[2015-04-10 12:43] cmfcmf opened #2406 "Handle mbstring.internal_encoding in ZK 1.3.x"
like done in https://github.com/zikula/core/pull/2199

[2015-04-11 05:24] shefik opened #2407 "Unable to Set Custom Locale"
Custom text is not being loaded for modules. Using the module Dizkus as an example,

I tested custom locale file in the following paths:

[code]

or

[code]

However, the custom text is not being loaded. When I go to this URL:

[code]
Only the following "Search overrides" domains are loaded:

[code]

Line 550 of:

[code]

[2015-04-11 11:58] craigh opened #2409 "Upgrade problems"
http://zikula.org/forums/topic/59864 from @ThiloWitt and krator

krator wrote:

`Unable to find the controller for path "/". The route is wrongly configured."`

@ThiloWitt wrote:

[2015-04-11 12:01] craigh commented on #2409
Are you upgrading from a 'clean' 1.3.x install? or from one of your own DBs from an active site? What version is the current site? Is there any way to get a copy of the DB?

[2015-04-11 12:39] cmfcmf opened #2410 "Re-think about robots.txt"
Our robots.txt currently blocks module css / js files and system javascript files. According to Google, it should not do so:
- https://www.google.com/webmasters/tools/mobile-friendly/?url=zikula.org
- https://developers.google.com/webmasters/mobile-sites/mobile-seo/common-mistakes/blocked-resources

[2015-04-11 12:49] craigh commented on #2409
yes, something is very wrong with the upgrader...

![screen shot 2015-04-11 at 8 47 27 am](https://cloud.githubusercontent.com/assets/350048/7101421/a8398fa0-e027-11e4-912c-4417dee353d9.png)

[2015-04-11 19:26] craigh commented on #2160
@Alexalter why did you close this?

[2015-04-11 20:02] craigh commented on #2160
now why did you reopen?

[2015-04-12 07:15] Alexalter commented on #2160
Ich habe Host gewechselt zu all-inkl.com zikula 1.4.0 gut installiert und funktioniert.

[2015-04-12 07:21] Alexalter commented on #2160
und brauche nun die Zikula 1.40 Deutsch

[2015-04-12 08:43] shefik opened #2411 "adminpanelmenu` - Warning: Invalid argument supplied for foreach()"
When using the ```adminpanelmenu``` in a theme other than Andres08Theme, the following error is thrown, when the plugin is output on the homepage:

[code]

ping @craigh

[2015-04-12 10:09] #2411 closed

[2015-04-12 10:15] cmfcmf commented on #2160
Hi @Alexalter, eine deutsche Übersetzung für Zikula 1.4 wird es wahrscheinlich geben, nachdem Zikula 1.4 endgültig veröffentlicht worden ist. Wenn es so weit ist, wird darüber dann sicherlich in einem News Beitrag auf http://support.zikula.de berichtet. Bis dahin musst du leider noch warten.
Lass dieses Ticket einfach offen, auch wenn bei dir jetzt alles funktioniert.

--------------
A German tran

[2015-04-12 11:32] Alexalter commented on #2160
OK Danke

[2015-04-12 11:47] craigh commented on #2409
I believe this is all fixed

[2015-04-12 11:47] #2409 closed

[2015-04-12 11:50] craigh opened #2413 "site title is removed during upgrade process"
When running the upgrade, the site title is removed (along with `'sitename', 'slogan', 'metakeywords', 'defaultpagetitle', 'defaultmetadescription'`) as part of the multilingual site title code changes.

It appears that `System::getVar($variable)` always returns `empty`  (e.g. `''`) when attempting to update the values. I have tried multiple ways to solve it but cannot figure it out.

@nmpetkov

[2015-04-12 17:41] #2413 closed

[2015-04-12 17:43] craigh opened #2415 "confirm Setting module upgrade works properly."
refs #2413 and https://github.com/zikula/core/commit/1b95d9689f8802ca7fd7126a9bb355571078f7f9

ping @nmpetkov please check this (upgrade 1.3.9 -> 1.3.10) and see if back porting is required.

[2015-04-12 18:38] craigh opened #2416 "update/remove unneeded JS vendors"
Several [vendors](https://github.com/zikula/core/blob/1.4/src/docs/VENDORS.md) are included in our own repo.

Many of these, in combination with those included at by composer, are either redundant, woefully out of date, or irrelevant.

These libraries should be updated or removed as appropriate. Some others should be _justified_ for the continued inclusion in the core.

possible redundancies:
Colo

[2015-04-12 22:22] shefik commented on #2416
I don't think we need html5shiv anymore, since we have dropped support for older versions of IE.

[2015-04-12 22:33] shefik commented on #2416
We currently use Modernizr 2.6.2, but the latest version is Modernizr 2.8.3, so it should be upgraded. It is still useful for detecting browser features and applying custom CSS classes, based on the detected features. Modernizr is not a polyfill, so it doesn't add features to a browser. It only detects what is available. Webshim is polyfill that adds features. So, the two can work in conjunction w

[2015-04-12 22:42] shefik commented on #2416
Both ```PickyColor``` and ```jquery-minicolors``` can probably be removed, because we should use the HTML5 native "color" input type. For browsers that don't currently support the "color" input type, Webshim can load its polyfill.

Demo:

http://afarkas.github.io/webshim/demos/demos/cfgs/input-color.html

[2015-04-13 11:09] Kaik opened #2417 "[Install/Upgrade] [Web/Cli][prod/dev] Tests"
Hi,
My setup is 4 local installations 3 of them are actually running sites last one is plain core.

Now this is small script to refresh db, different for each db
commented ones are for one pretty messy db 1.3.4 version
[code]
Yesterday I have tested install and upgrade with prod env.
Install
1. web went smoothly ~~but has to be called before any cli calls because of 2~~
2. ~~cli cals config_ not f

[2015-04-13 12:27] craigh opened #2418 "upgrade requires EN and default theme"
this should be either documented or (preferably) compensated for in the upgrade process.

[2015-04-13 12:41] Kaik commented on #2417
Install CLI prod
Everything goes ok

[code]
Viewing site in browser home page
[code]

[2015-04-13 13:36] Guite commented on #2416
PickyColor is for BC only.
jquery-minicolors could indeed be removed (was added in #1728).

As this issue is scheduled for 2.0.0 probably both scripts can be removed then without problems.

[2015-04-13 13:37] Guite commented on #2416
Depends on #2034

[2015-04-13 15:29] Kaik commented on #2417
But now new thing appeared when installed using cli installer using default values it is adding
i٢ r as admin in users table, where i٢ is username r is email. Cannot log in as admin. Admin username, email and password gets corrupted somehow.

[2015-04-13 21:19] craigh commented on #2418
refs #2417

[2015-04-13 22:28] Kaik commented on #2417
I was updating today whole day :) and for 3 only one gets upgraded and only using web upgrade.
For 2 others web upgrade ends up with errors. Starting from "Theme  regeneration"  with ajax error that routes module is miss-configured. Everything from that point is red and finishes with mentioned ajax error, afterwards upgrade/compleated page is not accessible as well as many others with this:
[code]

[2015-04-14 02:04] craigh commented on #2417
@cmfcmf can you look into this?

[2015-04-14 07:54] nmpetkov commented on #2415
I know for this behavior as I upgraded 3 sites to Zikula 1.3.10, and for me it is normal.
In fact site name, description and meta tags remain untouched for default language, and are blank for non-default languages, if any. I can make PR to fulfill them when upgrading, but only to replicate those for default language.

[2015-04-14 08:37] Kaik commented on #2417
I will try to investigate that cli problem, this might help me debug other things.

[2015-04-14 09:02] Kaik opened #2419 "[Upgrade/Install][Cli] Values passed to installator need to be base64encoded"
Console install and upgrade stopped working I think due to this https://github.com/zikula/core/commit/afa75e9e557023a204487100d244fdd2dd5e259f commit

Passing base64encoded values does the job. refs #2417

[2015-04-14 09:41] Kaik commented on #2417
Ok I'm getting closer at least in upgrading. So I was able to get the upgrade finished in cli mode then home page showed up. Log in and just after pressing log in button it redirects me to routes/reload end ending up in too many redirections.
So I could not go to redirect page because some routes inside theme (Andreas08) triggers another redirect to, same page. I have switched theme to bootstrap i

[2015-04-15 07:30] shefik opened #2420 "Adding translations to app/Resources/translations"
According to the docs:

[code]

Adding translations to `app/Resources/translations` doesn't appear to be working.

Tested by adding these files:

[code]

Is this supposed to be working right now in Zikula 1.4.x? Or, is this a change for Zikula 2.0.0?

ping @cmfcmf

[2015-04-15 09:55] craigh commented on #2417
which build are you testing with? or github up-to-date?

[2015-04-15 10:07] Kaik commented on #2417
github 8e4be5e0c

[2015-04-16 07:45] espaan opened #2421 "isSimpleArithmeticExpression Doctrine method error"
HI, Im testing SimpleMedia2 (MOST 0.6) in Zikula 1.4 build550,
Calling the frontend I get an
[code]
this seems to be an error in SQLWalker in Doctrine itself
I find also this
https://github.com/KnpLabs/KnpPaginatorBundle/issues/67
https://github.com/beberlei/DoctrineExtensions/issues/71

Could this be related to the Paginator in Doctrine being changed ?
@guite ?

[2015-04-16 10:05] craigh commented on #2421
I believe Zikula 1.4.0 *requires* MOST 0.7

[2015-04-16 10:11] espaan commented on #2421
Which is not released :-D
It might work when generated for 1.4
SimpleMedia2 is generated for 1.3.x still, since that is the stable released version.

[2015-04-16 10:14] craigh commented on #2421
neither is Core 1.4.0 released.

Axel made it clear in a previous ticket that if you want core 1.4.0 compatibility, you must use MOST 0.7. The 0.6 generator has a `core_max` setting of `1.3.99` for a reason.

[2015-04-16 10:15] craigh commented on #2421
refs https://github.com/zikula/core/issues/2329

[2015-04-16 10:27] espaan commented on #2421
okido clear.
That is still unfortunate, since it will delay people using MOST modules in early usage of 1.4.x

[2015-04-16 10:27] espaan commented on #2421
Close then ?

[2015-04-16 10:27] rallek commented on #2421
But cmf made in #2404 a promising fix.

I still think if most modules are not running under 1.3 and 1.4 the 1.4 will not have success! 1.4 is promising to extend 1.3 with 2.0 technology.

I have to accept the things as they are but I am the same unhappy than Erik.

[2015-04-16 10:33] rallek commented on #2421
A clear documentation how to fix a most 1.3 module to run under 1.4 as well would be ok.

[2015-04-16 11:02] espaan commented on #2421
Hi, I'm not really unhappy as such :-), just stating that I will jump onboard a little later if MOST modules have to be converted first. I do like 14 and all the tech, but that's how it is.

And indeed a "minor" manual fix to get it running would be fine for me too. Just to get in the 1.4 line,

[2015-04-16 11:06] Guite commented on #2421
About the minor fix: https://github.com/zikula/core/issues/2329#issuecomment-77694762

[2015-04-16 11:46] espaan commented on #2421
So if I understand correct, it should be able to do that by hand  in a MOST module ?
to update for hte Paginator I mean ?

[2015-04-16 21:35] craigh commented on #2421
closing as not core.

[2015-04-16 21:35] #2421 closed

[2015-04-17 07:03] Guite commented on #2407
Fixed by https://github.com/zikula/core/pull/2408

[2015-04-17 07:03] #2407 closed

[2015-04-18 16:00] #2419 closed

[2015-04-19 17:49] craigh commented on #2417
@Kaik please try with current build/pull. I have made several fixes/improvements. please try in English first and then `pl`. please report back.

[2015-04-19 17:51] craigh commented on #2418
The theme is ***supposed*** to be reset to `Andreas08` [during the upgrade](https://github.com/zikula/core/blob/1.4/src/lib/Zikula/Bundle/CoreInstallerBundle/Stage/Upgrade/InitStage.php#L103-L104). So this *should* work. testing would be terrific.

[2015-04-19 17:57] craigh commented on #2418
also - one should be able to select language on install or upgrade as the functionality is there, but the language pack must be installed also. perhaps @kaik was attempting to upgrade in `pl` but didn't include the lang pack before running the upgrade?

[2015-04-19 17:58] craigh commented on #2420
@shefik - why translate to English (`en`)? The core is already in English...

[2015-04-19 18:10] cmfcmf commented on #2420
Hey @shefik, the old translations must be placed inside the locale directory. Only the new translations, routes.x.po, validators.x.po, might be placed in the translations directory. That's what the documentation tries to say. You don't have a choice where to put your translations. It depends on whether or not it's a new Symfony based translation or the old Zikula translation.

[2015-04-19 19:57] Kaik commented on #2418
I was, actually after some time I have added script to change the lang to en/eng so the best I think would be to detect if language is available if not then force eng.

I will do upgrade and install test tomorrow. Need to update pl lang as well.

[2015-04-20 07:24] Guite opened #2423 "Reevaluate workflows"
Current workflow implementation has integration problems with Doctrine, since it is too decoupled from the actual entities. This makes problems with cascades, bulk imports and other activities.
Thus we should move to the Symfony workflow component instead. Here an entity only carries one field storing it's current state which is far easier to manage.

[2015-04-20 15:49] Guite commented on #2420
For example for customising.

[2015-04-20 20:09] shefik commented on #2420
@craigh I am customizing the English, to display text that I desire.

[2015-04-20 20:26] shefik commented on #2420
@cmfcmf I’m not clear on this, because what determines an "old translation”? Aren’t all files using Gettext? How does a module determine to get the file from the new location? Is the file routes.template.po part of the Routes module, and where is validators.template.po coming from? When I use Poedit to “Update from POT File”, it creates both .po and .mo files, so in that directory, only .po files

[2015-04-20 20:31] cmfcmf commented on #2420
By old translation, I mean "generated with the Gettext module".

[2015-04-20 20:31] cmfcmf commented on #2420
Whereas "new translation" = "generated with Symfony command" https://github.com/zikula/core/blob/1.4/build.xml#L120

[2015-04-20 20:33] shefik commented on #2420
So, should all modules be generated with the Symfony command eventually?

[2015-04-20 20:34] cmfcmf commented on #2420
The Symfony command doesn't extract the "old Zikula translations", like `$this->__('blubb')`.

[2015-04-20 20:40] craigh commented on #2420
`_('blubb')` is how get text is currently implemented (through a sort of 'plugin') in twig templates also

this is a matter debate for the future...

[2015-04-20 20:42] shefik commented on #2420
@cmfcmf What about this question?

`When I use Poedit to “Update from POT File”, it creates both .po and .mo files, so in that directory, only .po files exist. What about .mo files?`

[2015-04-21 09:42] shefik opened #2424 "PSR-0 is Deprecated"
As of October 21,2014, PSR-0 has been marked as deprecated. PSR-4 is now recommended as an alternative. The Zikula core should be updated to reflect this change.

http://www.php-fig.org/psr/psr-0/

[2015-04-22 14:55] craigh opened #2425 "Evaluate translation systems/platforms"
https://lingohub.com/ as translation resource.@gfr

[2015-04-24 21:32] craigh commented on #2417
closing this. please open a new ticket if you find the need.

[2015-04-24 21:32] #2417 closed

[2015-04-24 21:32] craigh commented on #2418
I think this is solved. please open a new ticket if you find the need.

[2015-04-24 21:32] #2418 closed

[2015-04-24 21:33] craigh commented on #2420
This ticket doesn't appear to have any way to "solve" it. If there is a bug or a problem, please open a ticket with a clear explanation of the problem.

[2015-04-24 21:33] #2420 closed

[2015-04-27 22:44] Kaik opened #2427 "[upgrade] Tests"
Hi, so I have tested latest github localhost and build 563 on external server.
It seems that lang issue is still there. I think it should completely reset lang to eng if default is not present in system during upgrade and leave it like that until lang will be installed.
I think theme is acting same after upgrade it is going back to what it was before.

Both upgrade and install do install 3party mo

[2015-04-27 23:25] craigh commented on #2427
this is documented. remove the modules from `/modules` and they won't upgrade.

which issue?

I don't understand what you mean.

[2015-04-27 23:25] craigh commented on #2427
please add a more descriptive title to the ticket

[2015-04-29 05:37] Guite opened #2428 "Migrate Andreas08 to Bootstrap"
The following description mentions fluid960gs which has been replaced by Bootstrap:

https://github.com/zikula/core/blob/1.4/src/themes/Zikula/Theme/Andreas08Theme/Andreas08ThemeVersion.php#L11